<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3a06f41c-9785-42a2-95d4-adbff0167b05" Alias="Categories Picker" Level="1">
  <Info>
    <Name>Categories Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "categoryPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/dd410613b27c4f9f96a20210612bd461",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>