<?xml version="1.0" encoding="utf-8"?>
<DataType Key="90a2788f-9e04-4bcb-9cd9-b93c129a3b7f" Alias="Checkout Page - Total View - Dropdown" Level="1">
  <Info>
    <Name>Checkout Page - Total View - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Subtotal"
    },
    {
      "id": 2,
      "value": "Total"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>