<?xml version="1.0" encoding="utf-8"?>
<DataType Key="89b24981-9f69-4ba8-a194-24e0397a1baf" Alias="Credit - Rich Text Editor" Level="1">
  <Info>
    <Name>Credit - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "bold",
      "link",
      "unlink"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic",
    "dimensions": {
      "height": 200
    }
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": null
}]]></Config>
</DataType>