<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fbaa5990-c461-4dc4-b49f-8908bdf245bd" Alias="List View - productPage" Level="1">
  <Info>
    <Name>List View - productPage</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": null,
  "IncludeProperties": [
    {
      "alias": "sortOrder",
      "header": "Sort order",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "sku",
      "header": "Sku",
      "isSystem": 0,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "sortOrder",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": true,
  "TabName": "Variants",
  "UseInfiniteEditor": false
}]]></Config>
</DataType>