<?xml version="1.0" encoding="utf-8"?>
<DataType Key="62f5bda2-84fb-41b5-9ef8-9279faab7c77" Alias="Multiple Product Picker" Level="1">
  <Info>
    <Name>Multiple Product Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": "productPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": "umb://document/9359686d143c4ca98a765cf836198e90",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>