<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c0d86b1b-ca00-4db1-9a22-d30b14c84233" Alias="Multiple Content Picker" Level="1">
  <Info>
    <Name>Multiple Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 0,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>