<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7672e090-c995-4065-87f4-4250ad741f59" Alias="Product Page - Stock - Vendr: Stock" Level="1">
  <Info>
    <Name>Product Page - Stock - Vendr: Stock</Name>
    <EditorAlias>Vendr.Stock</EditorAlias>
    <DatabaseType>Decimal</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "fraction": 2
}]]></Config>
</DataType>