<?xml version="1.0" encoding="utf-8"?>
<DataType Key="dbf565a4-3236-4597-bc7f-439fed79a9fa" Alias="Product Page - Tax Rate - Vendr: Store Entity Picker" Level="1">
  <Info>
    <Name>Product Page - Tax Rate - Vendr: Store Entity Picker</Name>
    <EditorAlias>Vendr.StoreEntityPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "storeConfig": {
    "storeMode": "Search"
  },
  "entityType": "TaxClass"
}]]></Config>
</DataType>