<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c829731a-ff78-41e9-bd80-d48597ed9405" Alias="Vendr: Variants Editor" Level="1">
  <Info>
    <Name>Vendr: Variants Editor</Name>
    <EditorAlias>Vendr.VariantsEditor</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "VariantElementTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d"
}]]></Config>
</DataType>