<?xml version="1.0" encoding="utf-8"?>
<DataType Key="40303319-caa5-44ad-9d3f-d48be504bbcc" Alias="Vendr: Price" Level="1">
  <Info>
    <Name>Vendr: Price</Name>
    <EditorAlias>Vendr.Price</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>