<?xml version="1.0" encoding="utf-8"?>
<DataType Key="32099146-a254-4307-aaa2-0d6f35c14d52" Alias="Vendr: Store Picker" Level="1">
  <Info>
    <Name>Vendr: Store Picker</Name>
    <EditorAlias>Vendr.StorePicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>