<?xml version="1.0" encoding="utf-8"?>
<Content Key="15e05f98-1529-413c-a050-ab3b1ef86c76" Alias="£10" Level="5">
  <Info>
    <Parent Key="684dc657-fffe-4948-80bc-f5ecfd8204fd">Gift Card</Parent>
    <Path>/Home/Products/Accessories/GiftCard/</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-07-02T10:25:30</CreateDate>
    <NodeName Default="£10" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GC001-10]]></Value>
    </sku>
  </Properties>
</Content>