<?xml version="1.0" encoding="utf-8"?>
<Content Key="64b2dd4e-5a6f-4a59-bed0-ffe5f1d8cb53" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="9ffd1c19-0f30-4f54-8f6e-8610e8b79de6">Whiter Than White</Parent>
    <Path>/Home/Products/JoesTeaAndCo/WhiterThanWhite/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:40:23</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT012-100]]></Value>
    </sku>
  </Properties>
</Content>