<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8806172-f843-4081-9074-da9ada60cbf8" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf">Green Tea</Parent>
    <Path>/Home/Products/Nemi/GreenTea/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:53:46</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 25
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004-100]]></Value>
    </sku>
  </Properties>
</Content>