<?xml version="1.0" encoding="utf-8"?>
<Content Key="c47fa832-6c34-4814-8f34-b47be5d819eb" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="0ad1ab92-0bdf-40fb-bb2c-fef180af1065">Rest Repeat Rooibos</Parent>
    <Path>/Home/Products/JoesTeaAndCo/RestRepeatRooibos/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:38:48</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT011-100]]></Value>
    </sku>
  </Properties>
</Content>