<?xml version="1.0" encoding="utf-8"?>
<Content Key="4338ddaf-f49f-4809-96b6-99f062053d3c" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="0b783939-f958-4788-9206-7833ba4078d3">Ever So English Breakfast</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishBreakfast/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:11:21</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT002-100]]></Value>
    </sku>
  </Properties>
</Content>