<?xml version="1.0" encoding="utf-8"?>
<Content Key="82844c56-d282-4edd-b9bd-2527c1d49411" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="16b93188-513b-42e4-ad1e-434467f00cfe">Jasmines Green Glory</Parent>
    <Path>/Home/Products/JoesTeaAndCo/JasminesGreenGlory/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:31:20</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT007-100]]></Value>
    </sku>
  </Properties>
</Content>