<?xml version="1.0" encoding="utf-8"?>
<Content Key="8bcd7745-fc35-46f4-ad8b-3afc4db00b8c" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="15641947-ce74-43eb-8699-434dd5482aba">Ever So English Everyday</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishEveryday/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:29:36</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT006-100]]></Value>
    </sku>
  </Properties>
</Content>