<?xml version="1.0" encoding="utf-8"?>
<Content Key="9fb0e6a2-1fe7-4449-be34-b5ff0db1350e" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="424ed1eb-5c15-4a27-83cd-7b64e90403af">Ever So English Decaf</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishDecaf/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:26:02</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT004-100]]></Value>
    </sku>
  </Properties>
</Content>