<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7f09c79-afde-4365-8fef-800bfa90336a" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="fab6a8f7-1aac-4da3-a9e4-a014b0764fec">Proper Peppermint</Parent>
    <Path>/Home/Products/JoesTeaAndCo/ProperPeppermint/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:34:58</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT009-100]]></Value>
    </sku>
  </Properties>
</Content>