<?xml version="1.0" encoding="utf-8"?>
<Content Key="357a54d3-c343-406b-8c07-9fba5f48caf9" Alias="100 tea bags" Level="5">
  <Info>
    <Parent Key="bdbd0fbb-3b4c-429f-8578-99ed74c4068d">The Berry Best</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheBerryBest/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:08:42</CreateDate>
    <NodeName Default="100 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 23
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT001-100]]></Value>
    </sku>
  </Properties>
</Content>