<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e45961c-f0f1-4d99-bb87-9a4ac9d708ad" Alias="£100" Level="5">
  <Info>
    <Parent Key="684dc657-fffe-4948-80bc-f5ecfd8204fd">Gift Card</Parent>
    <Path>/Home/Products/Accessories/GiftCard/</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-07-02T10:26:43</CreateDate>
    <NodeName Default="£100" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 100
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GC001-100]]></Value>
    </sku>
  </Properties>
</Content>