<?xml version="1.0" encoding="utf-8"?>
<Content Key="065a5c28-7183-4f50-b8a5-3015371d3eb1" Alias="105g" Level="5">
  <Info>
    <Parent Key="d9b87b9d-ae59-440d-9f68-1182acbd68b0">Rwanda Op</Parent>
    <Path>/Home/Products/GoodAndProper/RwandaOp/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:54:54</CreateDate>
    <NodeName Default="105g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 6
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[105g | 30 cups per pack | £0.20 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP013-105]]></Value>
    </sku>
  </Properties>
</Content>