<?xml version="1.0" encoding="utf-8"?>
<Content Key="380148b1-a107-4f3e-825f-fca8782c1ee4" Alias="125g" Level="5">
  <Info>
    <Parent Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf">Green Tea</Parent>
    <Path>/Home/Products/Nemi/GreenTea/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:54:01</CreateDate>
    <NodeName Default="125g" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004-125]]></Value>
    </sku>
  </Properties>
</Content>