<?xml version="1.0" encoding="utf-8"?>
<Content Key="7c1ea5c8-7486-4418-9519-9e23c1b98dbd" Alias="125g" Level="5">
  <Info>
    <Parent Key="6f693a01-078b-40fd-b725-3d3debed6694">Earl Grey</Parent>
    <Path>/Home/Products/Nemi/EarlGrey/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:48:25</CreateDate>
    <NodeName Default="125g" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM002-125]]></Value>
    </sku>
  </Properties>
</Content>