<?xml version="1.0" encoding="utf-8"?>
<Content Key="508e4244-eea6-40a7-8bb1-1863aaf1f829" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="424ed1eb-5c15-4a27-83cd-7b64e90403af">Ever So English Decaf</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishDecaf/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:25:40</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT004-15]]></Value>
    </sku>
  </Properties>
</Content>