<?xml version="1.0" encoding="utf-8"?>
<Content Key="211632bd-fd1c-4372-8af5-fbad94ffad38" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="0b783939-f958-4788-9206-7833ba4078d3">Ever So English Breakfast</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishBreakfast/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:11:04</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT002-15]]></Value>
    </sku>
  </Properties>
</Content>