<?xml version="1.0" encoding="utf-8"?>
<Content Key="0c07b0a6-c378-45d3-9445-ace3b2d7243b" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="688f488a-3dfc-48ca-9cde-90f8cc98b1dd">The Earl Of Grey</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheEarlOfGrey/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:27:31</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT005-15]]></Value>
    </sku>
  </Properties>
</Content>