<?xml version="1.0" encoding="utf-8"?>
<Content Key="0de6b380-8a7a-4e35-af29-8b91a5799154" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf">Green Tea</Parent>
    <Path>/Home/Products/Nemi/GreenTea/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:53:15</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 4.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004-15]]></Value>
    </sku>
  </Properties>
</Content>