<?xml version="1.0" encoding="utf-8"?>
<Content Key="c259caa1-0306-4bdc-9b95-a5a85d4177da" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="be363402-2504-4394-83ab-b7b55cf9f958">Peppermint</Parent>
    <Path>/Home/Products/GoodAndProper/Peppermint/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:52:25</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 4.5
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[15 tea bags | 15 cups per pack | £0.30 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP011-15]]></Value>
    </sku>
  </Properties>
</Content>