<?xml version="1.0" encoding="utf-8"?>
<Content Key="600f1c37-fc46-424d-8b4d-ba37308439cf" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="0ad1ab92-0bdf-40fb-bb2c-fef180af1065">Rest Repeat Rooibos</Parent>
    <Path>/Home/Products/JoesTeaAndCo/RestRepeatRooibos/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:38:31</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT011-15]]></Value>
    </sku>
  </Properties>
</Content>