<?xml version="1.0" encoding="utf-8"?>
<Content Key="236d2887-cf16-4d0f-ba9a-2429924b65b1" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="4d43c1e2-c15e-4e3f-8af5-dcbff029410f">English Breakfast</Parent>
    <Path>/Home/Products/Nemi/EnglishBreakfast/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:50:23</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 4.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM003-15]]></Value>
    </sku>
  </Properties>
</Content>