<?xml version="1.0" encoding="utf-8"?>
<Content Key="381f0962-e6a0-41dc-88cd-3a9fda5a15df" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="2fbab4b5-13c9-4f40-813a-fc1a80a5eaa6">St Clements Lemon</Parent>
    <Path>/Home/Products/JoesTeaAndCo/StClementsLemon/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:33:00</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT008-15]]></Value>
    </sku>
  </Properties>
</Content>