<?xml version="1.0" encoding="utf-8"?>
<Content Key="a506bff3-4f57-4abc-9a1e-9b4cc8116d27" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="dabbe54c-6b03-4487-9158-bc8077c82b3b">Spicy Chai</Parent>
    <Path>/Home/Products/Nemi/SpicyChai/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:58:24</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 4.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM006-15]]></Value>
    </sku>
  </Properties>
</Content>