<?xml version="1.0" encoding="utf-8"?>
<Content Key="70f53a45-9d19-4e07-bd53-811929d95cdc" Alias="15 Tea Bags" Level="5">
  <Info>
    <Parent Key="b47b7174-8465-476b-998f-38e052992682">Brockley Breakfast</Parent>
    <Path>/Home/Products/GoodAndProper/BrockleyBreakfast/TeaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:35:40</CreateDate>
    <NodeName Default="15 Tea Bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[15 tea bags | 15 cups per pack | £0.33 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP001-15]]></Value>
    </sku>
  </Properties>
</Content>