<?xml version="1.0" encoding="utf-8"?>
<Content Key="8d75381c-0ab3-43c8-905c-cea9810a5779" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="fab6a8f7-1aac-4da3-a9e4-a014b0764fec">Proper Peppermint</Parent>
    <Path>/Home/Products/JoesTeaAndCo/ProperPeppermint/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:34:44</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT009-15]]></Value>
    </sku>
  </Properties>
</Content>