<?xml version="1.0" encoding="utf-8"?>
<Content Key="163cfa14-f5d5-4abd-a1a0-1663c3ac23b6" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="bb1f45cc-fdbc-4747-9373-19edab4f3d82">Sweet Chamomile</Parent>
    <Path>/Home/Products/JoesTeaAndCo/SweetChamomile/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:13:19</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT003-15]]></Value>
    </sku>
  </Properties>
</Content>