<?xml version="1.0" encoding="utf-8"?>
<Content Key="35f14a30-ec78-4b43-b719-eb6a07d86a56" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="bdbd0fbb-3b4c-429f-8578-99ed74c4068d">The Berry Best</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheBerryBest/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:08:08</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT001-15]]></Value>
    </sku>
  </Properties>
</Content>