<?xml version="1.0" encoding="utf-8"?>
<Content Key="20ca4afa-9eec-4df2-a165-12a5eb3633ef" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="15641947-ce74-43eb-8699-434dd5482aba">Ever So English Everyday</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishEveryday/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:29:16</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 3.95
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT006-15]]></Value>
    </sku>
  </Properties>
</Content>