<?xml version="1.0" encoding="utf-8"?>
<Content Key="831eaba1-9dd1-4d56-88d1-2a645802a643" Alias="15 tea bags" Level="5">
  <Info>
    <Parent Key="0086681e-28e4-4df4-87b7-1ec29806e24a">Jade Tips</Parent>
    <Path>/Home/Products/GoodAndProper/JadeTips/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:44:36</CreateDate>
    <NodeName Default="15 tea bags" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[15 tea bags | 15 cups per pack | £0.33 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP006-15]]></Value>
    </sku>
  </Properties>
</Content>