<?xml version="1.0" encoding="utf-8"?>
<Content Key="92130cb4-a67d-4b1e-9b9f-343222ebb749" Alias="180g" Level="5">
  <Info>
    <Parent Key="dd687dfe-8546-4581-91a1-0da2060ae2ed">English Breakfast</Parent>
    <Path>/Home/Products/GoodAndProper/EnglishBreakfast/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:43:01</CreateDate>
    <NodeName Default="180g" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[180g | 60 cups per pack | £0.17 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP005-180]]></Value>
    </sku>
  </Properties>
</Content>