<?xml version="1.0" encoding="utf-8"?>
<Content Key="71f1b8d9-f4ac-4ce6-97e4-9ce963f573d6" Alias="1kg" Level="5">
  <Info>
    <Parent Key="5100614f-4a2a-46aa-9c6f-d16ef558238a">Cardamom Chai</Parent>
    <Path>/Home/Products/Nemi/CardamomChai/kg</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:45:21</CreateDate>
    <NodeName Default="1kg" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 40
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM001-1000]]></Value>
    </sku>
  </Properties>
</Content>