<?xml version="1.0" encoding="utf-8"?>
<Content Key="1f6f798c-61c9-4729-ac0f-92e639a51596" Alias="1kg" Level="5">
  <Info>
    <Parent Key="dabbe54c-6b03-4487-9158-bc8077c82b3b">Spicy Chai</Parent>
    <Path>/Home/Products/Nemi/SpicyChai/kg</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T10:00:09</CreateDate>
    <NodeName Default="1kg" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 40
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM006-1000]]></Value>
    </sku>
  </Properties>
</Content>