<?xml version="1.0" encoding="utf-8"?>
<Content Key="d6e2fba7-07cb-416b-a6e3-05f099549bfd" Alias="1kg" Level="5">
  <Info>
    <Parent Key="ed3f2837-ea56-4aeb-b06f-e59137d82b7e">Peppermint Tea</Parent>
    <Path>/Home/Products/Nemi/PeppermintTea/kg</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:57:14</CreateDate>
    <NodeName Default="1kg" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 40
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM005-1000]]></Value>
    </sku>
  </Properties>
</Content>