<?xml version="1.0" encoding="utf-8"?>
<Content Key="02547848-8145-49ac-9321-7c62d800fcd8" Alias="1kg" Level="5">
  <Info>
    <Parent Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf">Green Tea</Parent>
    <Path>/Home/Products/Nemi/GreenTea/kg</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:54:43</CreateDate>
    <NodeName Default="1kg" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 40
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004-1000]]></Value>
    </sku>
  </Properties>
</Content>