<?xml version="1.0" encoding="utf-8"?>
<Content Key="4ce0ca82-39cf-4e59-af5c-4f8ef83b129e" Alias="£20" Level="5">
  <Info>
    <Parent Key="684dc657-fffe-4948-80bc-f5ecfd8204fd">Gift Card</Parent>
    <Path>/Home/Products/Accessories/GiftCard/</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-07-02T10:25:48</CreateDate>
    <NodeName Default="£20" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GC001-20]]></Value>
    </sku>
  </Properties>
</Content>