<?xml version="1.0" encoding="utf-8"?>
<Content Key="264e1d5f-8b48-46fb-b27a-cc60d70a64c6" Alias="250g" Level="5">
  <Info>
    <Parent Key="ed3f2837-ea56-4aeb-b06f-e59137d82b7e">Peppermint Tea</Parent>
    <Path>/Home/Products/Nemi/PeppermintTea/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:56:36</CreateDate>
    <NodeName Default="250g" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 14
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM005-250]]></Value>
    </sku>
  </Properties>
</Content>