<?xml version="1.0" encoding="utf-8"?>
<Content Key="b55896ca-1450-43be-a780-0901ac676712" Alias="250g" Level="5">
  <Info>
    <Parent Key="dabbe54c-6b03-4487-9158-bc8077c82b3b">Spicy Chai</Parent>
    <Path>/Home/Products/Nemi/SpicyChai/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:59:40</CreateDate>
    <NodeName Default="250g" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 14
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM006-250]]></Value>
    </sku>
  </Properties>
</Content>