<?xml version="1.0" encoding="utf-8"?>
<Content Key="d876c33c-ffb5-48ba-98e8-00e11ade0a52" Alias="250g" Level="5">
  <Info>
    <Parent Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf">Green Tea</Parent>
    <Path>/Home/Products/Nemi/GreenTea/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:54:16</CreateDate>
    <NodeName Default="250g" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 14
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004-250]]></Value>
    </sku>
  </Properties>
</Content>