<?xml version="1.0" encoding="utf-8"?>
<Content Key="5f8bc535-91e0-4dcb-911e-de26ddcf030b" Alias="25g" Level="5">
  <Info>
    <Parent Key="7d588383-d8aa-4510-8685-4a982633d238">Matcha</Parent>
    <Path>/Home/Products/GoodAndProper/Matcha/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:49:14</CreateDate>
    <NodeName Default="25g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 18
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[25g | 25 cups per pack | £0.60 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP009-25]]></Value>
    </sku>
  </Properties>
</Content>