<?xml version="1.0" encoding="utf-8"?>
<Content Key="b04372bb-511a-4231-a8db-02e3ee7418f5" Alias="30 tea bags" Level="5">
  <Info>
    <Parent Key="dabbe54c-6b03-4487-9158-bc8077c82b3b">Spicy Chai</Parent>
    <Path>/Home/Products/Nemi/SpicyChai/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:58:42</CreateDate>
    <NodeName Default="30 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8.49
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM006-30]]></Value>
    </sku>
  </Properties>
</Content>