<?xml version="1.0" encoding="utf-8"?>
<Content Key="24b27ed4-f4e9-44a7-9103-b417eb0fc0ec" Alias="30 tea bags" Level="5">
  <Info>
    <Parent Key="6f693a01-078b-40fd-b725-3d3debed6694">Earl Grey</Parent>
    <Path>/Home/Products/Nemi/EarlGrey/teaBags</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:47:53</CreateDate>
    <NodeName Default="30 tea bags" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8.49
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM002-30]]></Value>
    </sku>
  </Properties>
</Content>