<?xml version="1.0" encoding="utf-8"?>
<Content Key="629eeb28-ed18-43db-bc90-ff8ff9c94ef7" Alias="30g" Level="5">
  <Info>
    <Parent Key="7a225991-4775-4ad0-98cc-a327d0df95b3">Jasmine Pearls</Parent>
    <Path>/Home/Products/GoodAndProper/JasminePearls/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:46:11</CreateDate>
    <NodeName Default="30g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[30g | 12 cups per pack | £0.34 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP007-30]]></Value>
    </sku>
  </Properties>
</Content>