<?xml version="1.0" encoding="utf-8"?>
<Content Key="d3e92db3-95b1-4b56-886e-9522c599c987" Alias="30g" Level="5">
  <Info>
    <Parent Key="3da76363-b5b6-4228-94ff-d1ff1466f054">White Peony</Parent>
    <Path>/Home/Products/GoodAndProper/WhitePeony/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:01:55</CreateDate>
    <NodeName Default="30g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[30g | 15 cups per pack | £0.27 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP017-30]]></Value>
    </sku>
  </Properties>
</Content>