<?xml version="1.0" encoding="utf-8"?>
<Content Key="1411530c-7eda-4fed-b271-78f7a2d7f5de" Alias="30g" Level="5">
  <Info>
    <Parent Key="473e817d-71e9-4e78-a1bc-a72943bf4610">Silver Needle</Parent>
    <Path>/Home/Products/GoodAndProper/SilverNeedle/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:57:50</CreateDate>
    <NodeName Default="30g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[30g | 15 cups per pack | £0.34 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP015-30]]></Value>
    </sku>
  </Properties>
</Content>