<?xml version="1.0" encoding="utf-8"?>
<Content Key="46981fc8-c7e0-43d2-b578-5dd73e429ccd" Alias="45g" Level="5">
  <Info>
    <Parent Key="382dba18-783b-4ec6-bb81-97faf3a2bd84">Lemon Grass</Parent>
    <Path>/Home/Products/GoodAndProper/LemonGrass/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:47:52</CreateDate>
    <NodeName Default="45g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 4
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[45g | 30 cups per pack | £0.27 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP008-45]]></Value>
    </sku>
  </Properties>
</Content>