<?xml version="1.0" encoding="utf-8"?>
<Content Key="5ccf5ffd-3a1c-4505-88d3-6c29c84ad984" Alias="£50" Level="5">
  <Info>
    <Parent Key="684dc657-fffe-4948-80bc-f5ecfd8204fd">Gift Card</Parent>
    <Path>/Home/Products/Accessories/GiftCard/</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2020-07-02T10:26:25</CreateDate>
    <NodeName Default="£50" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 50
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GC001-50]]></Value>
    </sku>
  </Properties>
</Content>