<?xml version="1.0" encoding="utf-8"?>
<Content Key="62eeac0c-5bb4-4347-891f-00c08b656440" Alias="500g" Level="5">
  <Info>
    <Parent Key="ed3f2837-ea56-4aeb-b06f-e59137d82b7e">Peppermint Tea</Parent>
    <Path>/Home/Products/Nemi/PeppermintTea/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:56:58</CreateDate>
    <NodeName Default="500g" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM005-500]]></Value>
    </sku>
  </Properties>
</Content>