<?xml version="1.0" encoding="utf-8"?>
<Content Key="d7f39801-b77a-4139-ad3f-f728cbe8ea39" Alias="500g" Level="5">
  <Info>
    <Parent Key="6f693a01-078b-40fd-b725-3d3debed6694">Earl Grey</Parent>
    <Path>/Home/Products/Nemi/EarlGrey/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:49:04</CreateDate>
    <NodeName Default="500g" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM002-500]]></Value>
    </sku>
  </Properties>
</Content>