<?xml version="1.0" encoding="utf-8"?>
<Content Key="b8ae1060-2eda-42b5-b40a-8accf0cae43b" Alias="500g" Level="5">
  <Info>
    <Parent Key="4d43c1e2-c15e-4e3f-8af5-dcbff029410f">English Breakfast</Parent>
    <Path>/Home/Products/Nemi/EnglishBreakfast/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:51:45</CreateDate>
    <NodeName Default="500g" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM003-500]]></Value>
    </sku>
  </Properties>
</Content>