<?xml version="1.0" encoding="utf-8"?>
<Content Key="97636fe2-149f-4841-aabe-1155a48442b0" Alias="50g" Level="5">
  <Info>
    <Parent Key="3ae4a5d8-017b-4958-94a1-4cf0ae3d78d3">Ruby</Parent>
    <Path>/Home/Products/GoodAndProper/Ruby/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:53:44</CreateDate>
    <NodeName Default="50g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[50g | 20 cups per pack | £0.20 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP012-50]]></Value>
    </sku>
  </Properties>
</Content>