<?xml version="1.0" encoding="utf-8"?>
<Content Key="f2bba5a0-6ae7-44b5-91d0-69abbadfaffd" Alias="50g" Level="5">
  <Info>
    <Parent Key="092b55e4-c98f-4fec-bd84-4aae2fd9c7cb">Sencha</Parent>
    <Path>/Home/Products/GoodAndProper/Sencha/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:56:06</CreateDate>
    <NodeName Default="50g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[50g | 20 cups per pack | £0.20 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP014-50]]></Value>
    </sku>
  </Properties>
</Content>