<?xml version="1.0" encoding="utf-8"?>
<Content Key="4e19cd12-1573-4e91-9ea0-60362bdcbf8b" Alias="50g" Level="5">
  <Info>
    <Parent Key="2fa949e4-2acb-4aef-bb7c-4d3a5f7bbe52">Iron Buddha</Parent>
    <Path>/Home/Products/GoodAndProper/IronBuddha/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-27T15:14:50</CreateDate>
    <NodeName Default="50g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[50g | 20 cups per pack | £0.20 per cup (based on two infusions)]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP020-50]]></Value>
    </sku>
  </Properties>
</Content>