<?xml version="1.0" encoding="utf-8"?>
<Content Key="a9c41d89-ae0f-4a80-b9f6-7e77f63ab842" Alias="50g" Level="5">
  <Info>
    <Parent Key="06bdce95-26cb-45ba-b9c1-9bafc56d29e6">Four Seasons</Parent>
    <Path>/Home/Products/GoodAndProper/FourSeasons/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:04:58</CreateDate>
    <NodeName Default="50g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[50g | 20 cups per pack | £0.20 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP019-50]]></Value>
    </sku>
  </Properties>
</Content>