<?xml version="1.0" encoding="utf-8"?>
<Content Key="13891d87-8f09-414d-becf-cf21c0316226" Alias="75g" Level="5">
  <Info>
    <Parent Key="576541a8-ddb4-44c1-8987-5e94395df41b">Wild Rooibos</Parent>
    <Path>/Home/Products/GoodAndProper/WildRooibos/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:03:28</CreateDate>
    <NodeName Default="75g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 8
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[75g | 30 cups per pack | £0.27 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP018-75]]></Value>
    </sku>
  </Properties>
</Content>