<?xml version="1.0" encoding="utf-8"?>
<Content Key="cabcc0db-8b9f-4d7b-b355-df3e576640e1" Alias="90g" Level="5">
  <Info>
    <Parent Key="e868d8f1-1b4a-4390-a25c-bac7de854b94">Earl Grey</Parent>
    <Path>/Home/Products/GoodAndProper/EarlGrey/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:40:50</CreateDate>
    <NodeName Default="90g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 6.5
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[90g | 30 cups per pack | £0.27 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP004-90]]></Value>
    </sku>
  </Properties>
</Content>