<?xml version="1.0" encoding="utf-8"?>
<Content Key="6a63b011-f8e1-4466-95b9-31017301ac5f" Alias="90g" Level="5">
  <Info>
    <Parent Key="dd687dfe-8546-4581-91a1-0da2060ae2ed">English Breakfast</Parent>
    <Path>/Home/Products/GoodAndProper/EnglishBreakfast/g</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T14:42:38</CreateDate>
    <NodeName Default="90g" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5.5
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[90g | 30 cups per pack | £0.18 per cup]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP005-90]]></Value>
    </sku>
  </Properties>
</Content>