<?xml version="1.0" encoding="utf-8"?>
<Content Key="cde5c9ff-c0b1-4243-8e03-70a911385d09" Alias="Accessories" Level="3">
  <Info>
    <Parent Key="9359686d-143c-4ca9-8a76-5cf836198e90">Products</Parent>
    <Path>/Home/Products/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2019-11-05T14:59:14</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[It's not just about the brew, but also how you brew that makes the perfect cup of tea. Find the best accessories to help take your brew to the next level.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/b995966b63024c0e9a836fc506740e8a]]></Value>
    </image>
    <imagesCredit>
      <Value><![CDATA[]]></Value>
    </imagesCredit>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>