<?xml version="1.0" encoding="utf-8"?>
<Content Key="0dc19a77-64ff-4817-8eb0-d5e13e2d6fd6" Alias="Black" Level="5">
  <Info>
    <Parent Key="4207a0fb-e8cc-4045-b145-016eda5fec88">Stump Teapot</Parent>
    <Path>/Home/Products/Accessories/StumpTeapot/Black</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-27T15:50:00</CreateDate>
    <NodeName Default="Black" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC004-BLK]]></Value>
    </sku>
  </Properties>
</Content>