<?xml version="1.0" encoding="utf-8"?>
<Content Key="2502e472-2bef-45f7-af70-8f7d8e73ad56" Alias="Body" Level="4">
  <Info>
    <Parent Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b">Niche</Parent>
    <Path>/Home/Products/Niche/Body</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:49:19</CreateDate>
    <NodeName Default="Body" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/39231bf92b2c4fe2919e3d6375b87405]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A delicious, natural blend of herbs traditionally used as an aid to weight management.</p>
<p><strong>Ingredients</strong></p>
<ul>
<li>Chinese Ti Guan Yin Oolong<br />Boosts metabolism and contains polyphenols which increase fat oxidation</li>
<li>Ginger Root<br />Improves circulation and aids digestion</li>
<li>Aniseed<br />Aids digestion</li>
<li>Hibiscus<br />Delicious fruity flavour</li>
<li>Apple Pieces<br />Adds natural sweetness</li>
<li>Rosehip<br />Rich in Vitamin C and Iron</li>
<li>Cleavers<br />Used to detoxify and aid weight loss</li>
<li>Juniper Berries<br />A digestive tonic and diuretic used to aid weight loss</li>
<li>Orange Peel<br />Believed to suppress appetite</li>
</ul>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NC001]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>