<?xml version="1.0" encoding="utf-8"?>
<Content Key="385c4bc0-21e1-4369-9846-c0c9208aba7c" Alias="Breakfast Tea Set" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/BreakfastTeaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:36:31</CreateDate>
    <NodeName Default="Breakfast Tea Set" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075,umb://document/7b24d49d94154dc2bf289fc5c4cb802c]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/cdffa41cdaf14e9c83483d32348f6681]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Kick-start your morning with a selection of our favourite breakfast teas.</p>
<p><strong>This box contains:</strong></p>
<p>1 x Assam - loose leaf (90g): a rich, malty breakfast tea.<br />1 x Brockley Breakfast - loose leaf (90g): our house breakfast blend - perfectly balancing body and aroma.<br />1 x Ceylon - loose leaf (90g): a lighter, brighter, more aromatic breakfast tea.<br />1 x In-cup Brewer: the simplest way to make a cup of loose leaf tea.<br />+ brewing instructions included</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 26
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP002]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[e9ce779e-dc78-44ad-b1f8-0182ee135382]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>