<?xml version="1.0" encoding="utf-8"?>
<Content Key="b47b7174-8465-476b-998f-38e052992682" Alias="Brockley Breakfast" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/BrockleyBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-05T14:59:36</CreateDate>
    <NodeName Default="Brockley Breakfast" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/91d56224da784a4c99f277a9ee608599,umb://media/922d3e91bf6940e28a93d376b3b8c71b,umb://media/b4b9d0114e0943eaaf57fa15540a204d]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>These Brockley Breakfast tea bags are our twist on an English Breakfast blend, named after our South London home. This whole leaf black tea brews a wonderfully balanced, all round breakfast tea, served best with a dash of milk.</p>
<p><strong>Origin</strong></p>
<p>A blend of four of our favourite single-origin black teas. A traditional base of Assam, Kenya &amp; Ceylon is lifted by the aromatic notes of our Darjeeling.</p>
<p><strong>Our tea bags</strong></p>
<p>Our whole leaf tea bags are 100% compostable.</p>
<p>Each bag is filled with our best leaves, with plenty of room for the leaves to unfurl. This ensures the best possible flavour.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 5
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP001]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>