<?xml version="1.0" encoding="utf-8"?>
<Content Key="5100614f-4a2a-46aa-9c6f-d16ef558238a" Alias="Cardamom Chai" Level="4">
  <Info>
    <Parent Key="cc514619-ba16-4a37-908d-8e75b184c622">Nemi</Parent>
    <Path>/Home/Products/Nemi/CardamomChai</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:47:18</CreateDate>
    <NodeName Default="Cardamom Chai" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/e3955c2572a9461e8e01e8ceef0329f4,umb://media/0544c4f002a444e18c5d24c6f2591232,umb://media/5f8282a7dc2f445ca31a67b44f53bcb1,umb://media/783bbff5ff31458fb1aa3e7b75a8cb1d]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>An exquisite choice of the finest-quality loose whole leaf Assam black tea expertly blended and enhanced with the exotic flavour of aromatic cardamom, pungent peppercorn and fragrant cloves.</p>
<p>We have also captured the true flavour of this soothing cardamom blend in biodegradable tea pyramids for a truly distinctive Chai experience.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM001]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>