<?xml version="1.0" encoding="utf-8"?>
<Content Key="3a179a4e-9fc5-4c72-b20f-89b1e23a90d9" Alias="Cart" Level="2">
  <Info>
    <Parent Key="a8bcc42f-88a2-427d-8fcc-2de3ed457e57">Home</Parent>
    <Path>/Home/Cart</Path>
    <Trashed>false</Trashed>
    <ContentType>cartPage</ContentType>
    <CreateDate>2019-11-04T16:04:21</CreateDate>
    <NodeName Default="Cart" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2af3ef66-00b2-48bf-b4c5-3b9081024f2d">CartPage</Template>
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>