<?xml version="1.0" encoding="utf-8"?>
<Content Key="074518f4-b479-4c11-a189-3b46ee753dfb" Alias="Checkout" Level="2">
  <Info>
    <Parent Key="a8bcc42f-88a2-427d-8fcc-2de3ed457e57">Home</Parent>
    <Path>/Home/Checkout</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPage</ContentType>
    <CreateDate>2019-11-04T16:06:01</CreateDate>
    <NodeName Default="Checkout" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="ba325c4a-5351-48d6-b1d9-57ee8703571a">Blank</Template>
  </Info>
  <Properties>
    <logo>
      <Value><![CDATA[umb://media/d4f48051772e44b495983bbdb1573d35]]></Value>
    </logo>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <primaryColor>
      <Value><![CDATA[teal-400]]></Value>
    </primaryColor>
    <privacyPolicy>
      <Value><![CDATA[umb://document/68cda2495e8047929564a9758a081921]]></Value>
    </privacyPolicy>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <termsOfService>
      <Value><![CDATA[umb://document/ecdd22713395485081d6d8edd37a66a8]]></Value>
    </termsOfService>
    <umbracoRedirect>
      <Value><![CDATA[umb://document/284ee349b45f40ca9cb20b5772425773]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>