<?xml version="1.0" encoding="utf-8"?>
<Content Key="8df5c8bd-b524-4513-805a-c119fc8090e3" Alias="Chilly's Cup" Level="4">
  <Info>
    <Parent Key="cde5c9ff-c0b1-4243-8e03-70a911385d09">Accessories</Parent>
    <Path>/Home/Products/Accessories/ChillysCup</Path>
    <Trashed>false</Trashed>
    <ContentType>multiVariantProductPage</ContentType>
    <CreateDate>2021-01-11T14:08:45</CreateDate>
    <NodeName Default="Chilly's Cup" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7b24d49d94154dc2bf289fc5c4cb802c]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/9c0935abd0ac4b69947898028624f60d]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Chilly's travel mug is double walled to keep the warm in and comes available in a number of different sizes and colors to suite your style.</p>
<p>Images courtesy of <a rel="noopener" href="https://www.chillysbottles.com/" target="_blank" title="Chilly's Bottles">Chilly's Bottles</a></p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC005]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[chillys-cup]]></Value>
    </umbracoUrlName>
    <variants>
      <Value><![CDATA[{
  "layout": {
    "Vendr.VariantsEditor": [
      {
        "contentUdi": "umb://element/c65da8778b3d496584dbebcb80eb1a79",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "black"
          }
        }
      },
      {
        "contentUdi": "umb://element/c53fb4958aca4fabb6121ccc80c6f3be",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "blue"
          }
        }
      },
      {
        "contentUdi": "umb://element/af698f5172b044cca89731220e3f9f81",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "green"
          }
        }
      },
      {
        "contentUdi": "umb://element/21a8c359eb1a400388206876c8503a72",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "pastelgreen"
          }
        }
      },
      {
        "contentUdi": "umb://element/07e11e0437c34047ae0b7bda25f134ef",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "blushpink"
          }
        }
      },
      {
        "contentUdi": "umb://element/4e3132b4fcc64ff5a7cb88a43703dfe4",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "rosegold"
          }
        }
      },
      {
        "contentUdi": "umb://element/066ddbec97be4653846a49b2861c85f0",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "gradientpastel"
          }
        }
      },
      {
        "contentUdi": "umb://element/35a6a16f103247d4962c6b0a4af25a53",
        "config": {
          "attributes": {
            "volume": "340ml",
            "color": "gradientmono"
          }
        }
      },
      {
        "contentUdi": "umb://element/59555b97f74b43b590e7edade6a476ac",
        "config": {
          "attributes": {
            "volume": "500ml",
            "color": "black"
          }
        }
      },
      {
        "contentUdi": "umb://element/5d3b9dff2ad547b28c3257e8f52cb42d",
        "config": {
          "attributes": {
            "volume": "500ml",
            "color": "blue"
          }
        }
      },
      {
        "contentUdi": "umb://element/767c78c18b4a4335b06960c91779b4f9",
        "config": {
          "attributes": {
            "volume": "500ml",
            "color": "blushpink"
          }
        }
      },
      {
        "contentUdi": "umb://element/046813a46acb4460a0c772126d306608",
        "config": {
          "attributes": {
            "volume": "500ml",
            "color": "rosegold"
          }
        }
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/c65da8778b3d496584dbebcb80eb1a79",
      "sku": "AC005-340-BLK",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 21\r\n}",
      "image": "umb://media/9c0935abd0ac4b69947898028624f60d"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/c53fb4958aca4fabb6121ccc80c6f3be",
      "sku": "AC005-340-BLU",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 20\r\n}",
      "image": "umb://media/e625cafaa48c45b0b3837f6de758d9f8"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/af698f5172b044cca89731220e3f9f81",
      "sku": "AC005-340-GRN",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 20\r\n}",
      "image": "umb://media/314a85ef9be64dc38e83f8dd0757825b"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/21a8c359eb1a400388206876c8503a72",
      "sku": "AC005-340-PGR",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 20\r\n}",
      "image": "umb://media/2dab90ed32cc4545884d2a1c33de0d4a"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/07e11e0437c34047ae0b7bda25f134ef",
      "sku": "AC005-340-BPK",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 20\r\n}",
      "image": "umb://media/075711d27c134be6bf240fa173c6c238"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/4e3132b4fcc64ff5a7cb88a43703dfe4",
      "sku": "AC005-340-RGL",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 23\r\n}",
      "image": "umb://media/780332f3f5654992b9634ba53b7a6671"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/066ddbec97be4653846a49b2861c85f0",
      "sku": "AC005-340-GPS",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 23\r\n}",
      "image": "umb://media/010a77491cbc49abac79631b3a8f63e1"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/35a6a16f103247d4962c6b0a4af25a53",
      "sku": "AC005-340-GRB",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 23\r\n}",
      "image": "umb://media/1e27b6a72cd846b29c2425bb6cc02f9e"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/59555b97f74b43b590e7edade6a476ac",
      "sku": "AC005-500-BLK",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 22\r\n}",
      "image": "umb://media/aec0818d5d894f38926b0a251bdce7e0"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/5d3b9dff2ad547b28c3257e8f52cb42d",
      "sku": "AC005-500-BLU",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 22\r\n}",
      "image": "umb://media/010af55023a243c6bb4ce0cefe017a88"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/767c78c18b4a4335b06960c91779b4f9",
      "sku": "AC005-500-BPK",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 22\r\n}",
      "image": "umb://media/2accce0e634f47a1bf2e002c12192ed3"
    },
    {
      "contentTypeKey": "8dc49d98-61d3-408b-90c0-0196e484a58d",
      "udi": "umb://element/046813a46acb4460a0c772126d306608",
      "sku": "AC005-500-RGL",
      "price": "{\r\n  \"30b62176-6a9e-4a51-b2f0-7ce6c80a461a\": 25\r\n}",
      "image": "umb://media/10c14d2e90174cbba89f8999d05a75d2"
    }
  ],
  "settingsData": []
}]]></Value>
    </variants>
  </Properties>
</Content>