<?xml version="1.0" encoding="utf-8"?>
<Content Key="d4e2ecc4-1b70-4131-a62c-59ed75f7d51b" Alias="Complete Tea Set" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/CompleteTeaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:37:02</CreateDate>
    <NodeName Default="Complete Tea Set" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7b24d49d94154dc2bf289fc5c4cb802c,umb://document/7670347993b144da9acb7dd263e64075,umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/047d6ad6fa3546f59746b093ef3cbd4c,umb://media/a43025021c984d549a8fae63d6c2d9b9]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Everything you need to make a proper cup of tea.</p>
<p>This box contains:</p>
<p>1 x Brockley Breakfast - loose leaf (90g): our house breakfast blend - perfectly balancing body and aroma.</p>
<p>1 x Jade Tips - loose leaf (50g): a refreshing, everyday green tea.</p>
<p>1 x Peppermint - loose leaf (30g): a deliciously fresh, peppery cup with a cool, minty finish.</p>
<p>1 x G&amp;P Glass Teapot: our favourite glass teapot, for beautiful and practical home-brewing.</p>
<p>1 x Measure Spoon: the easy way to measure just the right amount of tea for the perfect brew.</p>
<p>+ brewing instructions included</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 38
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP003]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>