<?xml version="1.0" encoding="utf-8"?>
<Content Key="284ee349-b45f-40ca-9cb2-0b5772425773" Alias="Customer Information" Level="3">
  <Info>
    <Parent Key="074518f4-b479-4c11-a189-3b46ee753dfb">Checkout</Parent>
    <Path>/Home/Checkout/CustomerInformation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutInformationPage</ContentType>
    <CreateDate>2019-11-25T15:12:36</CreateDate>
    <NodeName Default="Customer Information" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="75297f1a-ec84-44fc-99c7-ffc3730a513e">CheckoutInformationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortStepName>
      <Value><![CDATA[Information]]></Value>
    </shortStepName>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>