<?xml version="1.0" encoding="utf-8"?>
<Content Key="6f693a01-078b-40fd-b725-3d3debed6694" Alias="Earl Grey" Level="4">
  <Info>
    <Parent Key="cc514619-ba16-4a37-908d-8e75b184c622">Nemi</Parent>
    <Path>/Home/Products/Nemi/EarlGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:47:31</CreateDate>
    <NodeName Default="Earl Grey" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/bea2ed4d85274ec4b7b7499251432c50,umb://media/b163c646ad9541d6a08ab59aa9b7c60c,umb://media/5853a5afd97e4836a3976d549441bbeb]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our Earl Grey is an inspiring fusion of high-grown leaf tea, bergamot and cornflowers. We have selected a delicious full-bodied base from the Nilgiri district in Southern India which is perfectly balanced with notes of citrusy bergamot and a scattering of blue cornflower petals for an elegant final flourish.</p>
<p>Our biodegradable tea pyramids allow the tea leaves to unfurl and infuse properly for a delicious, full-flavoured cup.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM002]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>