<?xml version="1.0" encoding="utf-8"?>
<Content Key="e868d8f1-1b4a-4390-a25c-bac7de854b94" Alias="Earl Grey" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/EarlGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:37:20</CreateDate>
    <NodeName Default="Earl Grey" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/c8836a3977014692a345c0e7e1c1ff1d,umb://media/cbaaca235d5b479e9066faee34817eac]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our Earl Grey loose leaf black tea strikes the perfect balance between body and aroma, making it a deliciously fragrant cup for any time of day. Delicious with or without milk, or even with a slice of lemon.</p>
<p><strong>Origin</strong></p>
<p>A blend of a single-origin, Ceylon black tea base, from the remote Uva region in Sri Lanka, and natural Italian bergamot oil. The natural citrus and pine notes of this particular Ceylon, combined with the bergamot, make it delicately fragrant but with enough of the spicy hit of bergamot to make it a true Earl Grey.</p>
<p><strong>Origin:</strong> Sri Lanka (Ceylon) &amp; Italy (Bergamot Oil)</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP004]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>