<?xml version="1.0" encoding="utf-8"?>
<Content Key="15641947-ce74-43eb-8699-434dd5482aba" Alias="Ever So English Everyday" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishEveryday</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:45:05</CreateDate>
    <NodeName Default="Ever So English Everyday" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/14a329df01a548d98573ccd38338440c,umb://media/ea500405447147f7b9bfb8674d0f4d38,umb://media/b5190a4f98804acb901b3f683f03ddfe,umb://media/687bd000de664739b4936bd3065855eb,umb://media/464f60f341d642bab2183ee38ca924c8,umb://media/803be06837d94da0af3f0a4e59c38c92]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic, quick brewing black tea; delicate enough for the all-day-long tea obsessed.</p>
<p>From breakfast to biscuits and everything in between, this no-nonsense black tea blend is organic, full-bodied and fast… the ultimate ‘hit the spot’ cuppa.</p>
<p>Looking for an English Breakfast or a decaffeinated black (without the nasty chemicals)? Try the rest of our Ever-So-English family, Ever-So-English Breakfast and Ever-So-English Decaf.</p>
<p><strong>Ingredients</strong><br />Black tea<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate Ceylon and Assam tea leaves are lovingly hand-picked and directly traded from traditional, ethical tea plantations in Sri Lanka and India.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT006]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>