<?xml version="1.0" encoding="utf-8"?>
<Content Key="424ed1eb-5c15-4a27-83cd-7b64e90403af" Alias="Ever So English Decaf" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishDecaf</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:44:36</CreateDate>
    <NodeName Default="Ever So English Decaf" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/88efbf7b24ff4e43a43be2c40574855c,umb://media/71378786bbb348c99f86db7fe35835ca,umb://media/11ea6856482145cfa982a36b52f059c1,umb://media/67f75042734340e3865b96b4463f1000,umb://media/d27f5ca4bc5f47c88aa5c5dd83de983d]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic black tea gently decaffeinated with CO2; light, delicate and malty.</p>
<p>Tired? Happy? Sad? Whatever the day, whatever your mood, nothing beats a good glug of Britain’s favourite brew. Blended with only the finest organic, CO2 decaffeinated black tea this is a first class cuppa.</p>
<p><strong>CO2 decaffeinated.</strong><br />We gently decaffeinate these tea leaves with CO2, rather than nasty chemicals, to ensure the best flavour and the least harm to the environment.</p>
<p>Looking for an English breakfast or a stronger, everyday tea? Try the rest of our Ever-So-English family, Ever-So-English Breakfast and Ever-So-English Everyday.</p>
<p><strong>Ingredients</strong><br />Black tea<br />CO2 decaffeinated</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT004]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>