<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b783939-f958-4788-9206-7833ba4078d3" Alias="Ever So English Breakfast" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:44:09</CreateDate>
    <NodeName Default="Ever So English Breakfast" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/4bd94f1c89f8448983e3b8e3106e7a3a,umb://media/090a4137c2f04d4b8e90a772c9079531,umb://media/a2b9b1d5d0d047aca368fbcd8c1b98bc,umb://media/261ff28dfbcf49d2b46e20882bfe8a40]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic black tea from the heart of Ceylon; delicate, floral and refreshing.</p>
<p>Tired? Happy? Sad? Whatever the day, whatever your mood, nothing beats a good glug of Britain’s favourite brew. Blended with only the finest organic black tea from Ceylon this humble cuppa holds its own… and then some.</p>
<p>Looking for a stronger, everyday tea or a decaffeinated black (without the nasty chemicals)? Try the rest of our Ever-So-English family, Ever-So-English Everyday and Ever-So-English Decaf.</p>
<p><strong>Ingredients</strong><br />Black tea<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate Ceylon tea leaves are lovingly hand-picked and directly traded from traditional, ethical tea plantations in Sri Lanka.</p>
<p><strong>Recipes</strong><br />Have a go at making a delicious iced tea here, or try an English Garden cocktail, and if you’re feeling more adventurous this mug of tea cookie recipe will wow your afternoon tea guests.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT002]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>