<?xml version="1.0" encoding="utf-8"?>
<Content Key="932df289-d95a-4fd5-8915-a78f218efec3" Alias="Fine Mesh Strainer" Level="4">
  <Info>
    <Parent Key="cde5c9ff-c0b1-4243-8e03-70a911385d09">Accessories</Parent>
    <Path>/Home/Products/Accessories/FineMeshStrainer</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:53:42</CreateDate>
    <NodeName Default="Fine Mesh Strainer" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7b24d49d94154dc2bf289fc5c4cb802c]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/9fd882cfd63f46cbb9c737a68757449d,umb://media/8a4d1591255c4eac97ea9e9600826c24,umb://media/08a2391c46d8406c83992d61c2af77a2]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[0]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Extra fine sieve, for stove top brewing. Perfect for serving your tea the way it was intended! Easy to clean, made up of high grade stainless steel and will last forever.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 33.55
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC003]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>