<?xml version="1.0" encoding="utf-8"?>
<Content Key="925b99e9-5ea9-478f-932e-425ba1ff1a12" Alias="Good and Proper" Level="3">
  <Info>
    <Parent Key="9359686d-143c-4ca9-8a76-5cf836198e90">Products</Parent>
    <Path>/Home/Products/GoodAndProper</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2019-11-05T14:58:13</CreateDate>
    <NodeName Default="Good and Proper" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Having bored her friends for years about wanting to bring better cups of tea to London, our founder Emilie finally decided to do something about it. With plans to convert a 1974 Citroën-H van into a mobile tea bar, she took the idea to crowdfunding platform Kickstarter, 372 backers made that dream come true. Each of their names are still displayed proudly on the back window of that van, which the backers also affectionately christened ‘Watson’.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/9ff085cdc0624dbdbe3836b2b81dc744]]></Value>
    </image>
    <imagesCredit>
      <Value><![CDATA[<p>Images courtesy of <a rel="noopener" href="https://www.goodandpropertea.com/" target="_blank" title="Good and Proper Tea">Good and Proper Tea</a></p>]]></Value>
    </imagesCredit>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>