<?xml version="1.0" encoding="utf-8"?>
<Content Key="b5812d77-9781-47cb-b1d8-a15dd60e0e6e" Alias="Green" Level="4">
  <Info>
    <Parent Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b">Niche</Parent>
    <Path>/Home/Products/Niche/Green</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:49:44</CreateDate>
    <NodeName Default="Green" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/2f7228668f36466bb8a59513e5a12fed]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A wonderfully delicate green tea, combined with a medley of herbs and tropical fruits for a refreshing blend that nourishes the senses.</p>
<p><strong>Ingredients</strong></p>
<ul>
<li>Chinese Green Tea<br />Detoxifying-Promotes healthy skin- Speeds up metabolism-Packed with antioxidants.</li>
<li>Sea Buckthorn Berries<br />Boosts immunity-Improves blood pressure-Contains amino acids, vitamins, minerals &amp; antioxidants.</li>
<li>Desiccated Coconut<br />Rich in fatty acids-Supports brain function-Rich in essential nutrients.</li>
<li>Nettle Leaf<br />Traditionally used in skin care -Improves Kidney functions- Improves digestion, Boosts immune system</li>
<li>Ginkgo Biloba<br />Improves cognitive function-boosts energy-improves memory</li>
<li>Freeze-dried Passionfruit<br />Packed with antioxidants, flavonoids, vitamin A, vitamin C, riboflavin, niacin, iron, magnesium, phosphorus, potassium, copper, fibre, and protein</li>
<li>Freeze-dried Pineapple<br />Supports immune system-Anti inflammatory</li>
<li>Calendula Petals<br />Improves oral health-Treats menstrual cramps-Anti inflammatory- Contains antimicrobial &amp; antiviral components</li>
<li>Natural Flavouring</li>
</ul>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NC003]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>