<?xml version="1.0" encoding="utf-8"?>
<Content Key="31a122e1-ca23-4c71-a59c-5486bbe3e0c3" Alias="Green Tea" Level="3">
  <Info>
    <Parent Key="dd410613-b27c-4f9f-96a2-0210612bd461">Categories</Parent>
    <Path>/Home/Categories/GreenTea</Path>
    <Trashed>false</Trashed>
    <ContentType>categoryPage</ContentType>
    <CreateDate>2019-11-05T14:48:14</CreateDate>
    <NodeName Default="Green Tea" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="aebf81db-9384-4b46-8343-cbb6fb469426">CategoryPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ornare felis neque, vitae vulputate ante tempus id. Suspendisse lobortis imperdiet magna ut venenatis. Sed ultricies mauris vitae maximus blandit. In augue eros, dapibus laoreet porttitor vitae, pharetra ut ex. Aenean enim quam, mollis id placerat eget, fermentum sed nunc. Pellentesque vel condimentum elit, quis scelerisque nulla. Nam massa ante, mattis ac est vitae, volutpat suscipit est.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/4084103fec584546bdce05a65106d26f]]></Value>
    </image>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>