<?xml version="1.0" encoding="utf-8"?>
<Content Key="ec1c398c-ef20-4a22-8ca5-2bfa8bcc6dbf" Alias="Green Tea" Level="4">
  <Info>
    <Parent Key="cc514619-ba16-4a37-908d-8e75b184c622">Nemi</Parent>
    <Path>/Home/Products/Nemi/GreenTea</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:47:57</CreateDate>
    <NodeName Default="Green Tea" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/62a298b7695d43c68ef5545bd2364bc5,umb://media/67f454e5fb31480c96b9fe95aaef3211,umb://media/e8ef007455af4135a2e3eea138639b34,umb://media/4532803c79c94670b18ddee7cb7107a7,umb://media/4078415287fa466d9274efed8b05ef97]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our Sencha is a delicate steamed green tea with a mild taste and attractive softness that sets it apart from the more commonly-seen roasted green teas. We source our teas from the hills of Zhejiang province in the east of China where the August heat and hillside mists create an ideal tea-growing environment.</p>
<p>We have also captured this delicately leafed Sencha in biodegradable tea pyramids to give you a rich cup of green tea, with a continual but gentle breath of smooth sweetness.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM004]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>