<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8bcc42f-88a2-427d-8fcc-2de3ed457e57" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2019-11-04T15:28:24</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a856ee0-0af5-4a3c-a33e-8428aa1650d2">HomePage</Template>
  </Info>
  <Properties>
    <featuredProducts>
      <Value><![CDATA[umb://document/2fa949e42acb4aefbb7c4d3a5f7bbe52,umb://document/2502e4722bef45f7af708f7d8e73ad56,umb://document/5100614f4a2a46aa9c6fd16ef558238a,umb://document/ed3f2837ea564aebb06fe59137d82b7e,umb://document/4207a0fbe8cc4045b145016eda5fec88,umb://document/385c4bc021e143699846c0c9208aba7c,umb://document/7a22599147754ad098cca327d0df95b3,umb://document/9e6356e6ded6433d963a137e2acb9cd6,umb://document/42b5f9aaa6174b1b819bf761b8376606]]></Value>
    </featuredProducts>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <siteDescription>
      <Value><![CDATA[Tea Merchants of Sheffield, UK since 2010]]></Value>
    </siteDescription>
    <siteFooterLinks>
      <Value><![CDATA[umb://document/00fc43ff7ab249f49e3eb30eecf80bca,umb://document/2ae202b69a25452985913e2d78b52def,umb://document/ecdd22713395485081d6d8edd37a66a8,umb://document/68cda2495e8047929564a9758a081921]]></Value>
    </siteFooterLinks>
    <siteName>
      <Value><![CDATA[Blendid.]]></Value>
    </siteName>
    <siteRawMarkup>
      <Value><![CDATA[]]></Value>
    </siteRawMarkup>
    <store>
      <Value><![CDATA[b1e61994-b83b-420a-903e-63a7a15942dc]]></Value>
    </store>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>