<?xml version="1.0" encoding="utf-8"?>
<Content Key="0086681e-28e4-4df4-87b7-1ec29806e24a" Alias="Jade Tips" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/JadeTips</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:37:56</CreateDate>
    <NodeName Default="Jade Tips" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/174be80447a844d79f831e653d9cb98d,umb://media/0bf29b86a1f4444190e0f7f7ff1286d1,umb://media/5ed534c4eba743a48fd273f993a0e508]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our Jade Tips, or Mao Jian, green tea bags have a clean, vegetal flavour and lingering almond sweetness. A deliciously refreshing, everyday green tea.</p>
<p><strong>Origin</strong></p>
<p>Grown in the Bai Yun or 'White Cloud' mountains in Hunan, China, these dark, wiry leaves produce a bright, pale green liquor.</p>
<p><strong>Our tea bags</strong></p>
<p>Our whole leaf tea bags are 100% compostable.</p>
<p>Each bag is filled with our best leaves, with plenty of room for the leaves to unfurl. This ensures the best possible flavour.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP006]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>