<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e84fda1-2bd6-4a56-ad4a-6624c78a53db" Alias="Jar" Level="5">
  <Info>
    <Parent Key="0b783939-f958-4788-9206-7833ba4078d3">Ever So English Breakfast</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishBreakfast/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:11:36</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT002-JAR]]></Value>
    </sku>
  </Properties>
</Content>