<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab130499-6513-4d05-8468-6195aeb4faad" Alias="Jar" Level="5">
  <Info>
    <Parent Key="424ed1eb-5c15-4a27-83cd-7b64e90403af">Ever So English Decaf</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishDecaf/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:26:20</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT004-JAR]]></Value>
    </sku>
  </Properties>
</Content>