<?xml version="1.0" encoding="utf-8"?>
<Content Key="74197643-5cf0-41d7-89e4-93803130d9ae" Alias="Jar" Level="5">
  <Info>
    <Parent Key="bb1f45cc-fdbc-4747-9373-19edab4f3d82">Sweet Chamomile</Parent>
    <Path>/Home/Products/JoesTeaAndCo/SweetChamomile/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:13:59</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT003-JAR]]></Value>
    </sku>
  </Properties>
</Content>