<?xml version="1.0" encoding="utf-8"?>
<Content Key="d1c4c321-1e22-459d-ac30-6e97ff81d73a" Alias="Jar" Level="5">
  <Info>
    <Parent Key="0ad1ab92-0bdf-40fb-bb2c-fef180af1065">Rest Repeat Rooibos</Parent>
    <Path>/Home/Products/JoesTeaAndCo/RestRepeatRooibos/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:39:05</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT011-JAR]]></Value>
    </sku>
  </Properties>
</Content>