<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fc53c8d-d2e7-4449-a981-486a0b83b6eb" Alias="Jar" Level="5">
  <Info>
    <Parent Key="688f488a-3dfc-48ca-9cde-90f8cc98b1dd">The Earl Of Grey</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheEarlOfGrey/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:28:02</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT005-JAR]]></Value>
    </sku>
  </Properties>
</Content>