<?xml version="1.0" encoding="utf-8"?>
<Content Key="93719583-f633-4f44-8924-b6473975c4c2" Alias="Jar" Level="5">
  <Info>
    <Parent Key="098d0f88-909b-4665-bc97-6df1293ea0c7">Queen Of Green</Parent>
    <Path>/Home/Products/JoesTeaAndCo/QueenOfGreen/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:37:10</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT010-JAR]]></Value>
    </sku>
  </Properties>
</Content>