<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e13a942-e415-401b-be6e-49853dda747b" Alias="Jar" Level="5">
  <Info>
    <Parent Key="bdbd0fbb-3b4c-429f-8578-99ed74c4068d">The Berry Best</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheBerryBest/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-29T15:08:58</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT001-JAR]]></Value>
    </sku>
  </Properties>
</Content>