<?xml version="1.0" encoding="utf-8"?>
<Content Key="a79d8397-39cd-4823-bdc4-f9ee12127194" Alias="Jar" Level="5">
  <Info>
    <Parent Key="fab6a8f7-1aac-4da3-a9e4-a014b0764fec">Proper Peppermint</Parent>
    <Path>/Home/Products/JoesTeaAndCo/ProperPeppermint/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:35:12</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT009-JAR]]></Value>
    </sku>
  </Properties>
</Content>