<?xml version="1.0" encoding="utf-8"?>
<Content Key="14256748-f238-4dbc-878d-e1ff96dd8ecd" Alias="Jar" Level="5">
  <Info>
    <Parent Key="15641947-ce74-43eb-8699-434dd5482aba">Ever So English Everyday</Parent>
    <Path>/Home/Products/JoesTeaAndCo/EverSoEnglishEveryday/Jar</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-12-02T09:29:52</CreateDate>
    <NodeName Default="Jar" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT006-JAR]]></Value>
    </sku>
  </Properties>
</Content>