<?xml version="1.0" encoding="utf-8"?>
<Content Key="16b93188-513b-42e4-ad1e-434467f00cfe" Alias="Jasmines Green Glory" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/JasminesGreenGlory</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:45:19</CreateDate>
    <NodeName Default="Jasmines Green Glory" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/17d33c6622784342b1644d2ee7353179,umb://media/8ecfe976a86f4f42b6eb6722d00dfa48,umb://media/a40304e735f0457c82c5378db7d3a568,umb://media/ff9c2ce3485a4a6c9dbcfff1347cd42d,umb://media/6dc2a7db654a418faebcabca4c607558]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic green tea delicately fragranced with natural jasmine oil.</p>
<p>Let the floral wonder of jasmine transform your green tea experience. Delicate yet exotic, smooth yet refreshing, watch our whole leaf green tea leaves unfurl as this fragrant fusion bursts into the most beautiful of blends.</p>
<p><strong>Ingredients</strong><br />Green tea, natural jasmine oil<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate gunpowder green tea leaves are lovingly hand-picked and directly traded from a single estate, ethical tea plantation in Sri Lanka.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT007]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>