<?xml version="1.0" encoding="utf-8"?>
<Content Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c" Alias="Joes Tea and Co" Level="3">
  <Info>
    <Parent Key="9359686d-143c-4ca9-8a76-5cf836198e90">Products</Parent>
    <Path>/Home/Products/JoesTeaAndCo</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2019-11-05T14:58:43</CreateDate>
    <NodeName Default="Joes Tea and Co" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Joe’s Tea Co. was born in 2012 and Joe’s sought after organic blends have since won 25 Great Taste Awards. From artisan delis and outstanding independent restaurants – to Ocado, Mondrian and The Breakfast Club…Joe’s fast-growing list of stockists, loyal tea-loving following, passionate team, big plans and new blends, mean there’s always a new reason to pop the kettle on at Joe’s Tea Co.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/b627c56ee7a747ddbdf61a9a767cbcd2]]></Value>
    </image>
    <imagesCredit>
      <Value><![CDATA[<p>Images courtesy of <a rel="noopener" href="https://joesteacompany.com/" target="_blank" title="Joe's Tea and Co">Joe's Tea and Co</a></p>]]></Value>
    </imagesCredit>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>