<?xml version="1.0" encoding="utf-8"?>
<Content Key="4c4d0aa4-5d5d-4ee1-bca9-357e0a6fbb4a" Alias="Keep Cup" Level="4">
  <Info>
    <Parent Key="cde5c9ff-c0b1-4243-8e03-70a911385d09">Accessories</Parent>
    <Path>/Home/Products/Accessories/KeepCup</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:53:31</CreateDate>
    <NodeName Default="Keep Cup" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7b24d49d94154dc2bf289fc5c4cb802c]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/222a55f73d584baeb880e1a19d8fa806]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Brew Reusable Glass Cup (Cork Edition)</p>
<p>12oz/340ml</p>
<p>Designed for pure drinking pleasure on the go.</p>
<p>Join the reuse revolution with KeepCup, and through your actions inspire others to do the same. The combination of glass and cork is not only about beautiful, sustainable design, it also makes for an improved drinking experience. We'll even give you a discount if you bring it to one of our shops.</p>
<p>Dishwasher safe and non toxic.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 20
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC002]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>