<?xml version="1.0" encoding="utf-8"?>
<Content Key="42b5f9aa-a617-4b1b-819b-f761b8376606" Alias="Matcha Set" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/MatchaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:41:00</CreateDate>
    <NodeName Default="Matcha Set" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3,umb://document/7b24d49d94154dc2bf289fc5c4cb802c]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/22c42035b48c40088f6f232e4be78764]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Everything you need to boost your energy levels and focus your mind with Matcha.</p>
<p><strong>This box contains:</strong></p>
<p>1 x Matcha Green Tea Powder (25g): a creamy, Ceremonial grade Matcha with a delicate sweetness - a delicious base for a latte but even better whisked up on its own.</p>
<p>1 x Matcha Bowl: the perfect bowl to whisk your Matcha, as well as enhance the drinking experience.</p>
<p>1 x Bamboo Whisk: the single most important tool for whisking your Matching into a vibrant froth.</p>
<p>1 x Bamboo Scoop: a simple and beautiful tool for measuring the Matcha powder into your bowl.</p>
<p>+ step-by-step brewing instructions</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 42
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP010]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>