<?xml version="1.0" encoding="utf-8"?>
<Content Key="7d588383-d8aa-4510-8685-4a982633d238" Alias="Matcha" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/Matcha</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:40:47</CreateDate>
    <NodeName Default="Matcha" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/77cc12b0e83848f5a01d08fe98dd7b21,umb://media/9d81fabe7b3c454893d67e4f72534512]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our ceremonial-grade Matcha green tea powder is made from the young leaves of the first harvest of the year, giving it its vibrant green colour and delicate sweetness. Celebrated for its numerous health benefits, ranging from boosting energy levels, focusing the mind and even speeding up the metabolism, this Matcha is smooth and creamy, making it a delicious base for a latte or even better whisked up on its own.</p>
<p><strong>Origin</strong></p>
<p>This particular Matcha is made from the young leaves of the first harvest of the year which are shaded for 3-4 weeks. The leaves are stone-ground, to create a powdered green tea. All this is done at the Kyoto Obubu Farms, Japan.</p>
<p>Step-by-step brewing instructions included.</p>
<p><strong>Origin:</strong> Japan</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP009]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>