<?xml version="1.0" encoding="utf-8"?>
<Content Key="baf7e7e9-49e2-461b-9880-11bf72602e5b" Alias="Mind" Level="4">
  <Info>
    <Parent Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b">Niche</Parent>
    <Path>/Home/Products/Niche/Mind</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:49:53</CreateDate>
    <NodeName Default="Mind" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/461ba796635846e08f2710a41711bd98]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>An indulgent herbal infusion designed using ingredients believed to naturally energise.</p>
<p><strong>Ingredients</strong></p>
<ul>
<li>Yerba Mate<br />An energizing stimulate, thought to boost metabolism</li>
<li>Cocoa Shells<br />Full of heart healthy avonoids and feel good properties</li>
<li>Cinnamon<br />Naturally sweet, this stabilizes blood sugar and improves alertness</li>
<li>Lemongrass<br />A natural stimulant</li>
<li>Lime Leaves<br />Zingy taste. Rich in vitamins and minerals</li>
<li>Gotu Kola<br />A powerful blood tonic, used to overcome stress and fatigue</li>
</ul>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NC004]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>