<?xml version="1.0" encoding="utf-8"?>
<Content Key="cc514619-ba16-4a37-908d-8e75b184c622" Alias="Nemi" Level="3">
  <Info>
    <Parent Key="9359686d-143c-4ca9-8a76-5cf836198e90">Products</Parent>
    <Path>/Home/Products/Nemi</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2019-11-05T14:58:53</CreateDate>
    <NodeName Default="Nemi" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[We are a London-based tea company offering a variety of whole leaf tea blends as loose tea and in biodegradable tea pyramids along with a Chai Syrup for chai lattes, iced teas and chai cocktails! 

We are strong believers in creating positive change through business and provide employment to refugees to help them better integrate in the UK.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/b8167d9f994f4ab3a8c486097c7c9858]]></Value>
    </image>
    <imagesCredit>
      <Value><![CDATA[<p>Images courtesy of <a rel="noopener" href="http://www.nemiteas.com/" target="_blank" title="Nemi Teas">Nemi Teas</a></p>]]></Value>
    </imagesCredit>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>