<?xml version="1.0" encoding="utf-8"?>
<Content Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b" Alias="Niche" Level="3">
  <Info>
    <Parent Key="9359686d-143c-4ca9-8a76-5cf836198e90">Products</Parent>
    <Path>/Home/Products/Niche</Path>
    <Trashed>false</Trashed>
    <ContentType>collectionPage</ContentType>
    <CreateDate>2019-11-05T14:59:04</CreateDate>
    <NodeName Default="Niche" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[Niche Tea launched in 2016 at the height of the global wellness explosion. Our ﬁrst collection encompasses a complete body and mind herbal experience, and each tea is blended for targeted health needs. We only use the ﬁnest whole leaf tea in our blends, and our teas are sourced from the best tea farms in the world.]]></Value>
    </description>
    <image>
      <Value><![CDATA[umb://media/65c3127c82d34ca489de23bd6f84b36b]]></Value>
    </image>
    <imagesCredit>
      <Value><![CDATA[<p>Images courtesy of <a rel="noopener" href="https://www.thenicheco.com/" target="_blank" title="Niche Teas">Niche Teas</a></p>]]></Value>
    </imagesCredit>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>