<?xml version="1.0" encoding="utf-8"?>
<Content Key="28a91f7c-d2ba-4a4c-943a-6e2b9f6688a7" Alias="Order Confirmation" Level="3">
  <Info>
    <Parent Key="074518f4-b479-4c11-a189-3b46ee753dfb">Checkout</Parent>
    <Path>/Home/Checkout/OrderConfirmation</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutConfirmationPage</ContentType>
    <CreateDate>2019-11-25T15:13:34</CreateDate>
    <NodeName Default="Order Confirmation" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="41efcc5b-7437-43c3-a1c7-ac0c92ab1d08">CheckoutConfirmationPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortStepName>
      <Value><![CDATA[Confirmation]]></Value>
    </shortStepName>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>