<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed3f2837-ea56-4aeb-b06f-e59137d82b7e" Alias="Peppermint Tea" Level="4">
  <Info>
    <Parent Key="cc514619-ba16-4a37-908d-8e75b184c622">Nemi</Parent>
    <Path>/Home/Products/Nemi/PeppermintTea</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:48:11</CreateDate>
    <NodeName Default="Peppermint Tea" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/6dc6c615fafa496eb368436775d0ea64,umb://media/47710341f4774ed182db98afcb801cfb,umb://media/dc7044ec97304f40a88d5f1c5967abd1]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our peppermint tea is a carefully-assembled blend of European, Egyptian and American peppermint designed to give a blast of refreshing minty coolness. The blend harnesses the renowned green freshness of American-grown peppermint but builds upon it with the more intense and darker notes of European and Egyptian mints.</p>
<p>We have also captured our refreshing peppermint leaf tea in biodegradable tea pyramids to give you a great way to round off an evening meal.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM005]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>