<?xml version="1.0" encoding="utf-8"?>
<Content Key="be363402-2504-4394-83ab-b7b55cf9f958" Alias="Peppermint" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/Peppermint</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:41:14</CreateDate>
    <NodeName Default="Peppermint" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/87e440abd40c4d9c84773f61669f4f75,umb://media/f4a9a4035ba340009288b9e75ac1c237,umb://media/dcee361076524324b04c402f7711d4ca]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our caffeine-free, Peppermint tea bags produce a deliciously fresh, peppery cup with a cool, minty finish. Well-known for aiding digestion, this is the perfect cup for after a meal.</p>
<p><strong>Origin</strong></p>
<p>This zingy peppermint is grown, unusually, in the USA.</p>
<p><strong>Our tea bags</strong></p>
<p>Our whole leaf tea bags are 100% compostable. </p>
<p>Each bag is filled with our best leaves, with plenty of room for the leaves to unfurl. This ensures the best possible flavour. </p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP011]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>