<?xml version="1.0" encoding="utf-8"?>
<Content Key="72703f66-4546-419b-ab91-620ddd3dff39" Alias="Process Payment" Level="3">
  <Info>
    <Parent Key="074518f4-b479-4c11-a189-3b46ee753dfb">Checkout</Parent>
    <Path>/Home/Checkout/ProcessPayment</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutPaymentPage</ContentType>
    <CreateDate>2019-11-25T15:13:22</CreateDate>
    <NodeName Default="Process Payment" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="44c0426b-16ca-401b-ad65-f04607266661">CheckoutPaymentPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortStepName>
      <Value><![CDATA[Pay]]></Value>
    </shortStepName>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>