<?xml version="1.0" encoding="utf-8"?>
<Content Key="fab6a8f7-1aac-4da3-a9e4-a014b0764fec" Alias="Proper Peppermint" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/ProperPeppermint</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:45:49</CreateDate>
    <NodeName Default="Proper Peppermint" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/a70c7de6c90f467b9aab0ea6f202ff56,umb://media/5e4495a3630944878e46fe74315b74b8,umb://media/7d768882edfd4f1d84ab645864d9fd4f,umb://media/dbec819b87414b808ba6da953d23546c,umb://media/919a9147d15d42779e476f52dd971daa]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Pure and simple organic peppermint to refresh and mellow.</p>
<p>Brew those cobwebs away and keep it pure with a cup of organic peppermint. There’s nothing more refreshing for mind, body and soul (and your belly’ll thank you too).</p>
<p><strong>Ingredients</strong><br />Peppermint leaves<br />Caffeine-free</p>
<p><strong>Provenance</strong><br />These whole peppermint leaves are directly traded from traditional, ethical farms in Egypt.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT009]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>