<?xml version="1.0" encoding="utf-8"?>
<Content Key="098d0f88-909b-4665-bc97-6df1293ea0c7" Alias="Queen Of Green" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/QueenOfGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:46:03</CreateDate>
    <NodeName Default="Queen Of Green" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/02df9c0197ac4ec08714985ddf0d6654,umb://media/dda5d9a13797461781f1d5dcc74626f1,umb://media/ab685fbc447040bdbbee71c68298546b,umb://media/0e79408bd1da4e9a98001ad781720334,umb://media/7a5168a68e324f5281ee132449eb46a4]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A light yet lavish blend of organic green tea; refreshing and vibrant.</p>
<p>Whether you’re a green tea lover or shunner, this tea’s for you. Lighter, brighter and smoother than regular gunpowder blends, this green queen guarantees each cup is brimming with health benefits and antioxidants.</p>
<p><strong>Ingredients</strong><br />Green tea<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate gunpowder green tea leaves are lovingly hand-picked and directly traded from a single estate, ethical tea plantation in Sri Lanka.</p>
<p><strong>Recipes</strong><br />Learn how to cold brew using these easy instructions or an iced tea here.</p>
<p>Green tea is delicious in savoury cooking too and this green tea and salmon miso bowl is easy peasy.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT010]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>