<?xml version="1.0" encoding="utf-8"?>
<Content Key="7e934d09-3906-4245-875c-b3560c11c323" Alias="Red" Level="5">
  <Info>
    <Parent Key="4207a0fb-e8cc-4045-b145-016eda5fec88">Stump Teapot</Parent>
    <Path>/Home/Products/Accessories/StumpTeapot/Red</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-27T15:48:30</CreateDate>
    <NodeName Default="Red" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC004-RED]]></Value>
    </sku>
  </Properties>
</Content>