<?xml version="1.0" encoding="utf-8"?>
<Content Key="0ad1ab92-0bdf-40fb-bb2c-fef180af1065" Alias="Rest Repeat Rooibos" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/RestRepeatRooibos</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:46:17</CreateDate>
    <NodeName Default="Rest Repeat Rooibos" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/fd140f60ebf641ba97f93b5f6ca32033,umb://media/4f99eb0300d741cbad09f1b42198c14b,umb://media/73b9d04a4776454d9f30363173208708,umb://media/e8b9db0dd3fe487f88805b7e62667d4e]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A rich, smooth and full-bodied blend of organic rooibos.</p>
<p>Pure, organic and naturally caffeine-free this stress relieving South African red bush is believed to be a natural stress buster and is the perfect substitute for your daily caffeine fix.</p>
<p><strong>Ingredients</strong><br />Rooibos<br />Caffeine-free</p>
<p><strong>Provenance</strong><br />These earthy, red coloured leaves are lovingly hand-picked and directly traded from a single estate farm in South Africa.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT011]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>