<?xml version="1.0" encoding="utf-8"?>
<Content Key="aec816c6-5f55-4c94-8a7f-bffc01e7e232" Alias="Review Order" Level="3">
  <Info>
    <Parent Key="074518f4-b479-4c11-a189-3b46ee753dfb">Checkout</Parent>
    <Path>/Home/Checkout/ReviewOrder</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutReviewPage</ContentType>
    <CreateDate>2019-11-25T15:13:01</CreateDate>
    <NodeName Default="Review Order" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="6e06b89c-f796-4d0d-a11f-53628a232d4c">CheckoutReviewPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortStepName>
      <Value><![CDATA[Review]]></Value>
    </shortStepName>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>