<?xml version="1.0" encoding="utf-8"?>
<Content Key="50b59af7-ac9c-4927-a824-b48c2af9b103" Alias="Shipping Method" Level="3">
  <Info>
    <Parent Key="074518f4-b479-4c11-a189-3b46ee753dfb">Checkout</Parent>
    <Path>/Home/Checkout/ShippingMethod</Path>
    <Trashed>false</Trashed>
    <ContentType>checkoutShippingMethodPage</ContentType>
    <CreateDate>2020-05-28T14:04:24</CreateDate>
    <NodeName Default="Shipping Method" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="63421854-2726-46cb-a69b-3d71558d578c">CheckoutShippingMethodPage</Template>
  </Info>
  <Properties>
    <canGoBack>
      <Value><![CDATA[1]]></Value>
    </canGoBack>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortStepName>
      <Value><![CDATA[Shipping]]></Value>
    </shortStepName>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>