<?xml version="1.0" encoding="utf-8"?>
<Content Key="473e817d-71e9-4e78-a1bc-a72943bf4610" Alias="Silver Needle" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/SilverNeedle</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:42:19</CreateDate>
    <NodeName Default="Silver Needle" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/a1440b7dc1ff4b17a65349828cf54085]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/1433d8a192f14ff18a23293feff6f85f,umb://media/12ebac921c624a2c9608af282e8a6727]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our Silver Needle loose leaf white tea is one of the most highly prized teas in the world. The delicate, silky-smooth infusion combines lightly vegetal notes with a lingering honey sweetness.</p>
<p><strong>Origin</strong></p>
<p>These juicy, unopened buds, with their characteristic downy hairs, are hand harvested over a short period in early Spring, in Fuding county in Fujian, the home of White Tea in China.</p>
<p>Reinfuse up to 3 times.</p>
<p><strong>Origin:</strong> China</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP015]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>