<?xml version="1.0" encoding="utf-8"?>
<Content Key="e25c3c92-c7d4-49dd-bfe8-081ed189371c" Alias="Skin" Level="4">
  <Info>
    <Parent Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b">Niche</Parent>
    <Path>/Home/Products/Niche/Skin</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:50:05</CreateDate>
    <NodeName Default="Skin" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/46d9f8c409ad444dac823e8780a2a05f]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A delicate white tea blend, designed using ingredients traditionally believed to promote beautiful skin.</p>
<p><strong>Ingredients</strong></p>
<ul>
<li>White Tea<br />Extremely rich in beautifying anti-oxidants</li>
<li>Hibiscus<br />Rich in Vitamin C</li>
<li>Dandelion leaves<br />Rich in vitamins and minerals, a powerful detoxifying agent</li>
<li>Burdock Root<br />Rich in Iron, Sulphur and B Vitamins, this is a powerful blood tonic used to treat skin conditions</li>
<li>Red Clover<br />Rich in vitamins and minerals, this anti-inflammatory herb is used to treat skin conditions</li>
<li>Rosehip<br />Rich in Vitamin C and Iron, this helps maintain healthy collagen</li>
<li>Apple Pieces<br />Naturally sweet and fruity</li>
<li>Elderberries<br />Elder is reputed to be one of the best herbs to take for antioxidant activity</li>
<li>Rose Petals<br />Traditionally used by the Chinese to beautify the skin. Anti- inflammatory</li>
<li>Orange Peel</li>
<li>Blue Cornflowers<br />Contains antiseptic and healing properties</li>
<li>Natural Blueberry Flavour</li>
</ul>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NC005]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>