<?xml version="1.0" encoding="utf-8"?>
<Content Key="9e6356e6-ded6-433d-963a-137e2acb9cd6" Alias="Sleep" Level="4">
  <Info>
    <Parent Key="ba99d01f-a8b6-43c9-880c-c1b48b0ee62b">Niche</Parent>
    <Path>/Home/Products/Niche/Sleep</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:50:14</CreateDate>
    <NodeName Default="Sleep" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/ab79d3e651ab4ea38fb6d6f2ee85e4e3]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A delicious herbal tea blend, designed using ingredients traditionally used to aid restful sleep.</p>
<p><strong>Ingredients</strong></p>
<ul>
<li>Rooibos<br />Naturally caffeine free. Rich in vitamins and minerals, particularly magnesium, which is crucial to the healthy function of the nervous system.</li>
<li>Lemon Balm<br />Has anti-stress, nerve relaxant and mild tranquilizer effects.</li>
<li>Chamomile<br />Soothing and relaxing.</li>
<li>Passionflower<br />Calms mental restlessness and overactive brains.</li>
<li>Rose Petals<br />A mild sedative.</li>
<li>Lavender<br />Widely used in aromatherapy, beauty products and herbal remedies for its soporific properties.</li>
<li>Vanilla Flavour</li>
</ul>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 10
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NC006]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>