<?xml version="1.0" encoding="utf-8"?>
<Content Key="dabbe54c-6b03-4487-9158-bc8077c82b3b" Alias="Spicy Chai" Level="4">
  <Info>
    <Parent Key="cc514619-ba16-4a37-908d-8e75b184c622">Nemi</Parent>
    <Path>/Home/Products/Nemi/SpicyChai</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:48:28</CreateDate>
    <NodeName Default="Spicy Chai" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/8e1de0e76bc646e8a9ef96f70faa0851,umb://media/61e0810af85f4fc6860e7b8fbf5bd714]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>An exquisite balance of the finest-quality loose whole leaf Assam black tea and exotically flavoursome, traditionally grown Indian spices highlighting the aromatic cardamom, sweet cinnamon, pungent peppercorn, fragrant cloves and hot ginger.</p>
<p>We have also captured the true flavour of this full-bodied black tea blend in biodegradable tea pyramids to give you a rich cup of tea traditional to India.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[NM006]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>