<?xml version="1.0" encoding="utf-8"?>
<Content Key="2fbab4b5-13c9-4f40-813a-fc1a80a5eaa6" Alias="St Clements Lemon" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/StClementsLemon</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:45:35</CreateDate>
    <NodeName Default="St Clements Lemon" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/53f19b37507a4209be199a01fbb44150]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/2836c4266a4d41a695121ede5fe41238,umb://media/c6da9613f2a8480fb6185a53911cbb7a,umb://media/59d3c5569f854e968eb250ef0b282ebf,umb://media/361a1dbb08e64109880463be962b606b]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A citrus sensation of organic lemongrass, ginger and orange peel.</p>
<p>Calling all citrus lovers! Brew up a cup of balmy sunshine sent straight from lemon-heaven as organic lemongrass, orange peel and spicy ginger ignite the senses and warm the soul.</p>
<p><strong>Ingredients</strong><br />Lemongrass, orange peel, ginger, natural orange flavour, mandarin flavour<br />Caffeine-free</p>
<p><strong>Provenance</strong><br />These herbs and spices are directly traded from traditional, ethical farms in Sri Lanka.</p>
<p><strong>Recipes</strong><br />No brunch would be complete without this incredible twist on a mimosa. And for our alcohol-free option, our friends at The London Honey Company concocted this zingy Bee’s Needs cocktail.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT008]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>