<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb1f45cc-fdbc-4747-9373-19edab4f3d82" Alias="Sweet Chamomile" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/SweetChamomile</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:44:22</CreateDate>
    <NodeName Default="Sweet Chamomile" />
    <SortOrder>8</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/284af480898740819f76af7ca7baad01,umb://media/9f83702c7f124dbb8e521a276dfbadf7,umb://media/53ea403ce7194be8bb797a4f7959106a,umb://media/e8735c08c1fa40da8458a00078fed020]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic chamomile flowers with a sweet and soothing taste.</p>
<p>‘Me-time’ is tea-time when it comes to this super-soother. Whole organic chamomile flowers infuse effortlessly into a mug of love that magically melts your cares away.</p>
<p><strong>Ingredients</strong><br />Chamomile flowers<br />Caffeine-free</p>
<p><strong>Provenance</strong><br />These chamomile flowers are hand-picked and directly traded from traditional, ethical farms in Egypt.</p>
<p><strong>Recipes</strong><br />Have a go at a refreshing summer punch here or incredible chamomile poached pears here.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT003]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>