<?xml version="1.0" encoding="utf-8"?>
<Content Key="88feba4b-1376-49bd-91b4-d786774d0de7" Alias="Tea Bag Collection" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/TeaBagCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:42:35</CreateDate>
    <NodeName Default="Tea Bag Collection" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075,umb://document/2a1c5f1e26284b7e8a2f7f18f72c0a31,umb://document/31a122e1ca234c71a59c5486bbe3e0c3]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/6ecc0a1f5e674478862789bebe906e0a]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>A tea bag for any time of day.</p>
<p><strong>This collection includes:</strong></p>
<p>15 x Brockley Breakfast Tea Bags. These award-winning tea bags are our twist on an English Breakfast blend, named after our South London home. <br />15 x Earl Grey Tea Bags. The perfect balance between body and aroma, making it a deliciously fragrant cup for any time of day. <br />15 x Jade Tips Tea Bags. These award-winning, green tea bags, also known as Mao Jian, have a clean, vegetal flavour and lingering almond sweetness. <br />15 x Wild Rooibos Tea Bags. A caffeine-free, full-bodied, honey-sweet flavour with notes of dried cherries and vanilla. <br />15 x Chamomile Tea Bags. A caffeine-free, fresh, sweet cup with hints of apple and honey.<br />15 x Peppermint Tea Bags. A caffeine-free, deliciously fresh, peppery cup with a cool, minty finish.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": 24
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP016]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>