<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdbd0fbb-3b4c-429f-8578-99ed74c4068d" Alias="The Berry Best" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheBerryBest</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:43:53</CreateDate>
    <NodeName Default="The Berry Best" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/53f19b37507a4209be199a01fbb44150]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/69e97bf528094537887b28758a6393b5,umb://media/845a5e66a79a4b0cb17015d6f445fa35,umb://media/06722e0f02894dacb437d12d3d3dd28f,umb://media/49ba02dd836740deb9958de05c37d3ad]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic wild berries infused with classic herbs.</p>
<p>Twirl up your taste buds with a brimming burst of organic red fruits, as strawberries and raspberries play with the juiciest blackberries; what can we say? It’s pure berry bliss.</p>
<p><strong>Ingredients</strong><br />Hibiscus, apple, spearmint, raspberries, strawberries, blueberries, natural strawberry flavour, natural raspberry flavour<br />Caffeine-free</p>
<p><strong>Provenance</strong><br />These herbs are hand-picked and directly traded from traditional, ethical farms on the hot plains of North Africa and Europe.</p>
<p><strong>Recipes</strong><br />Try this herbal infusion as a cold brew or iced tea for a delicious, summery drink.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT001]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>