<?xml version="1.0" encoding="utf-8"?>
<Content Key="688f488a-3dfc-48ca-9cde-90f8cc98b1dd" Alias="The Earl Of Grey" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/TheEarlOfGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:44:51</CreateDate>
    <NodeName Default="The Earl Of Grey" />
    <SortOrder>10</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/7670347993b144da9acb7dd263e64075]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/be41cc2c4a4341eea0b75165f9e8e481,umb://media/40d067837bf6495097f084b8fe38b119,umb://media/47be1851885247649116d15ce25ba975,umb://media/aef6caa657864a8fb691d4811600f4c8,umb://media/9e339d1a8ef544a78fdf66b5637a22b4]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Organic Ceylon black tea spruced up with oil of bergamot.</p>
<p>Dust down your best china and silver-up the spoons as you refresh your senses with this elegant blend. Black tea is finely fragranced with bergamot oil and it’s organic too, don’t you know.</p>
<p><strong>Ingredients</strong><br />Black tea, bergamot oil<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate Ceylon tea leaves are lovingly hand-picked and directly traded from traditional, ethical tea plantations in Sri Lanka.</p>
<p><strong>Recipes</strong><br />Spruce up any gathering with these delicious cocktails; Royal Tea and G&amp;Tea.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT005]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>