<?xml version="1.0" encoding="utf-8"?>
<Content Key="9ffd1c19-0f30-4f54-8f6e-8610e8b79de6" Alias="Whiter Than White" Level="4">
  <Info>
    <Parent Key="073a3ad1-ab19-4cbd-8964-b5f0fc50d61c">Joes Tea and Co</Parent>
    <Path>/Home/Products/JoesTeaAndCo/WhiterThanWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:46:31</CreateDate>
    <NodeName Default="Whiter Than White" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/a1440b7dc1ff4b17a65349828cf54085]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/eabbd7b0fed54cb8a24bc0feaac7c4e9,umb://media/39bd4990a06f4d04b4efd114a10d9a53,umb://media/ab8135f4de9e4e85a9c6f46bbbc9ad4e,umb://media/251ec483c1a34c31a371abbc5717451f,umb://media/0169c1a7bc4d456081eca57d7701a2eb]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>An organic and ultra-virtuous white tea blend.</p>
<p>Delicate, divine and good for you too: the sweetness and light of all blends. Plucked while still cocooned in their soft white hair, these little leaves promise an exquisite taste.</p>
<p>Read about the health benefits of white tea here.</p>
<p><strong>Ingredients</strong><br />White tea<br />Contains caffeine</p>
<p><strong>Provenance</strong><br />These delicate white Ceylon tea leaves are lovingly hand-picked and directly traded from a single estate, ethical tea plantation in Sri Lanka.</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[JT012]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>