<?xml version="1.0" encoding="utf-8"?>
<Content Key="3da76363-b5b6-4228-94ff-d1ff1466f054" Alias="White Peony" Level="4">
  <Info>
    <Parent Key="925b99e9-5ea9-478f-932e-425ba1ff1a12">Good and Proper</Parent>
    <Path>/Home/Products/GoodAndProper/WhitePeony</Path>
    <Trashed>false</Trashed>
    <ContentType>productPage</ContentType>
    <CreateDate>2019-11-07T13:42:56</CreateDate>
    <NodeName Default="White Peony" />
    <SortOrder>16</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[umb://document/a1440b7dc1ff4b17a65349828cf54085]]></Value>
    </categories>
    <images>
      <Value><![CDATA[umb://media/27f8acb4216f4c608fedb54a22217d0e,umb://media/e2e2ff3a2459476797befa4f931f8792]]></Value>
    </images>
    <isGiftCard>
      <Value><![CDATA[]]></Value>
    </isGiftCard>
    <longDescription>
      <Value><![CDATA[<p>Our White Peony loose leaf white tea produces a delicate, pale gold infusion with notes of honey and melon. Well-rounded, yet light and distinctly sweet, this is the perfect introduction to white tea.</p>
<p><strong>Origin</strong></p>
<p>The unopened silver buds and emerald green leaves are grown and crafted in Fuding county in Fujian, the home of White Tea in China. Grown and crafted in Fuding, the home of white tea, these unopened silver buds and emerald green leaves produce a delicate, pale gold infusion with notes of honey and melon. Well-rounded, yet light and distinctly sweet, this is the perfect introduction to white tea.</p>
<p>Reinfuse up to 3 times.</p>
<p><strong>Origin:</strong> China</p>]]></Value>
    </longDescription>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <metaImage>
      <Value><![CDATA[]]></Value>
    </metaImage>
    <metaKeywords>
      <Value><![CDATA[]]></Value>
    </metaKeywords>
    <pageTitle>
      <Value><![CDATA[]]></Value>
    </pageTitle>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <rawMarkup>
      <Value><![CDATA[]]></Value>
    </rawMarkup>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[GP017]]></Value>
    </sku>
    <taxRate>
      <Value><![CDATA[]]></Value>
    </taxRate>
    <umbracoRedirect>
      <Value><![CDATA[]]></Value>
    </umbracoRedirect>
    <umbracoUrlAlias>
      <Value><![CDATA[]]></Value>
    </umbracoUrlAlias>
    <umbracoUrlName>
      <Value><![CDATA[]]></Value>
    </umbracoUrlName>
  </Properties>
</Content>