<?xml version="1.0" encoding="utf-8"?>
<Content Key="7054a256-78e4-4fbf-b604-fdd5bd53bbb0" Alias="White" Level="5">
  <Info>
    <Parent Key="4207a0fb-e8cc-4045-b145-016eda5fec88">Stump Teapot</Parent>
    <Path>/Home/Products/Accessories/StumpTeapot/White</Path>
    <Trashed>false</Trashed>
    <ContentType>productVariant</ContentType>
    <CreateDate>2019-11-27T15:50:17</CreateDate>
    <NodeName Default="White" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <price>
      <Value><![CDATA[{
  "30b62176-6a9e-4a51-b2f0-7ce6c80a461a": ""
}]]></Value>
    </price>
    <shortDescription>
      <Value><![CDATA[]]></Value>
    </shortDescription>
    <sku>
      <Value><![CDATA[AC004-WHT]]></Value>
    </sku>
  </Properties>
</Content>