<?xml version="1.0" encoding="utf-8"?>
<License>
  <Customer>
    <Company></Company>
    <Name>Baris Demirocak</Name>
    <Email>baris.demirocak@adesso.de</Email>
  </Customer>
  <Id>f9897c6e-cfde-4fad-ae64-f0dc116a23a3</Id>
  <LicenseAttributes>
    <Attribute name="product">uMarketingSuite</Attribute>
    <Attribute name="tier">Dev</Attribute>
    <Attribute name="test-domains">localhost</Attribute>
  </LicenseAttributes>
  <ProductFeatures>
    <Feature name="Analytics" />
    <Feature name="AbTesting" />
    <Feature name="Personalization" />
  </ProductFeatures>
  <Quantity>10000</Quantity>
  <Expiration>Sat, 28 Oct 2023 15:45:14 GMT</Expiration>
  <Signature>MEYCIQDAS3egv2tTYkxH+EYdzRVMe6HJguqQRHvNZU5Kjxt+JgIhAI4Zw78+5lyneg4Wu/JcTDTG1GVFOweUO6XT6biNr39q</Signature>
</License>