@mixin font-default {
  font-family: Helvetica, Arial, sans-serif;
  *, input, button, text {
    font-family: inherit;
  }
}

@mixin font-bold {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
