<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="43db01f7-93e2-4529-9191-eacafc6f4082" Alias="cartPage" Level="2">
  <Info>
    <Name>Cart Page</Name>
    <Icon>icon-shopping-basket color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
    </Compositions>
    <DefaultTemplate>CartPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2af3ef66-00b2-48bf-b4c5-3b9081024f2d">CartPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>