<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b1a1f202-2c02-4395-8930-41837f80b418" Alias="categoryPage" Level="2">
  <Info>
    <Name>Category Page</Name>
    <Icon>icon-tag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
      <Composition Key="0f7abaec-947d-49e4-bd37-1a82ffd34c5b">productGroupComp</Composition>
    </Compositions>
    <DefaultTemplate>CategoryPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="aebf81db-9384-4b46-8343-cbb6fb469426">CategoryPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>