<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="136d409b-a7ac-4eb8-8ad2-412349854fe9" Alias="categoriesPage" Level="2">
  <Info>
    <Name>Categories Page</Name>
    <Icon>icon-tags color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
      <Composition Key="0f7abaec-947d-49e4-bd37-1a82ffd34c5b">productGroupComp</Composition>
    </Compositions>
    <DefaultTemplate>CategoriesPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="747694bc-7098-4755-97b1-82ae4d11ce26">CategoriesPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="b1a1f202-2c02-4395-8930-41837f80b418" SortOrder="0">categoryPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>