<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7fbaee93-a8da-4278-8f13-adc297866837" Alias="checkoutShippingMethodPage" Level="3">
  <Info>
    <Name>Checkout Shipping Method Page</Name>
    <Icon>icon-truck color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutShippingMethodPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="63421854-2726-46cb-a69b-3d71558d578c">CheckoutShippingMethodPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>