<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="7d76b8ac-50e5-4ae6-9805-fae772493414" Alias="checkoutPaymentMethodPage" Level="3">
  <Info>
    <Name>Checkout Payment Method Page</Name>
    <Icon>icon-credit-card-alt color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPaymentMethodPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1057c6fe-5f86-4f65-b55b-a61cd5a9725e">CheckoutPaymentMethodPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>