<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dc02ebd8-ba38-4655-bff6-0ba6bf69cbad" Alias="checkoutPage" Level="2">
  <Info>
    <Name>Checkout Page</Name>
    <Icon>icon-cash-register color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
    </Compositions>
    <DefaultTemplate>Blank</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ba325c4a-5351-48d6-b1d9-57ee8703571a">Blank</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="17053992-ea9a-4e16-8da0-1fb463d204e9" SortOrder="0">checkoutConfirmationPage</ContentType>
    <ContentType Key="1ff16ec5-53f5-438d-8067-dde2f17d8d9b" SortOrder="1">checkoutInformationPage</ContentType>
    <ContentType Key="22611fc8-bd07-44ff-98e4-cfea76b493ca" SortOrder="2">checkoutPaymentPage</ContentType>
    <ContentType Key="ac112235-8a7a-4e54-8d10-3a959e3c2cdc" SortOrder="3">checkoutReviewPage</ContentType>
    <ContentType Key="7d76b8ac-50e5-4ae6-9805-fae772493414" SortOrder="4">checkoutPaymentMethodPage</ContentType>
    <ContentType Key="7fbaee93-a8da-4278-8f13-adc297866837" SortOrder="5">checkoutShippingMethodPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>aff894d8-50b2-4018-8436-224e7e488c7b</Key>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Definition>135d60e0-64d9-49ed-ab08-893c9ba44ae5</Definition>
      <Type>Umbraco.MediaPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Choose a logo image to display on the checkout pages.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8ea21808-445a-4258-a249-cb8ac7b6a2d2</Key>
      <Name>Primary Color</Name>
      <Alias>primaryColor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The primary brand color to use for the checkout pages. Should be one of tailwind CSSs default colors. Defaults to blue-500.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>aea58d17-735a-471c-9642-6b6237fe022a</Key>
      <Name>Privacy Policy</Name>
      <Alias>privacyPolicy</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the content page containing the site privacy policy.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b5088dfb-61ba-436b-bd70-fc5457990ca2</Key>
      <Name>Terms of Service</Name>
      <Alias>termsOfService</Alias>
      <Definition>fd1e0da5-5606-4862-b679-5d0cf3a52a59</Definition>
      <Type>Umbraco.ContentPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the content page containing the sites terms of service.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>b40a33c8-030c-4cc6-b61d-834bcfa732e7</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>