<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="17053992-ea9a-4e16-8da0-1fb463d204e9" Alias="checkoutConfirmationPage" Level="3">
  <Info>
    <Name>Checkout Confirmation Page</Name>
    <Icon>icon-receipt-euro color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutConfirmationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="41efcc5b-7437-43c3-a1c7-ac0c92ab1d08">CheckoutConfirmationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>