<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="22611fc8-bd07-44ff-98e4-cfea76b493ca" Alias="checkoutPaymentPage" Level="3">
  <Info>
    <Name>Checkout Payment Page</Name>
    <Icon>icon-sync color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutPaymentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="44c0426b-16ca-401b-ad65-f04607266661">CheckoutPaymentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>