<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1ff16ec5-53f5-438d-8067-dde2f17d8d9b" Alias="checkoutInformationPage" Level="3">
  <Info>
    <Name>Checkout Information Page</Name>
    <Icon>icon-info color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutInformationPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="75297f1a-ec84-44fc-99c7-ffc3730a513e">CheckoutInformationPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>