<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ac112235-8a7a-4e54-8d10-3a959e3c2cdc" Alias="checkoutReviewPage" Level="3">
  <Info>
    <Name>Checkout Review Page</Name>
    <Icon>icon-eye color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Parent>
    <Compositions>
      <Composition Key="d766c429-63ad-43a9-8119-266cb7d7e318">checkoutStepPage</Composition>
    </Compositions>
    <DefaultTemplate>CheckoutReviewPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="6e06b89c-f796-4d0d-a11f-53628a232d4c">CheckoutReviewPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>