<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="487197b9-e567-4f95-bebd-b50a8c1f5d15" Alias="collectionPage" Level="2">
  <Info>
    <Name>Collection Page</Name>
    <Icon>icon-thumbnails-small color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
      <Composition Key="0f7abaec-947d-49e4-bd37-1a82ffd34c5b">productGroupComp</Composition>
    </Compositions>
    <DefaultTemplate>CollectionPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="16951c67-dd51-47b1-bfe4-d37635af39cc">CollectionPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="42cdd49b-69df-4828-9404-f7c8bdb768db" SortOrder="0">productPage</ContentType>
    <ContentType Key="2589d425-8ffb-464d-a751-1be57917564f" SortOrder="1">multiVariantProductPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>a8169c58-4df7-4899-9d6a-1804055a3946</Key>
      <Name>Images Credit</Name>
      <Alias>imagesCredit</Alias>
      <Definition>89b24981-9f69-4ba8-a194-24e0397a1baf</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter a credit message for images displayed in this collection.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>09795a8a-5655-4842-9589-6a675e27de4f</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>