<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4aafecde-1139-4823-a8ca-fcd293909ab1" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-store color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The home page of the site</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a856ee0-0af5-4a3c-a33e-8428aa1650d2">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0305c996-7672-413d-ad36-0a2680168883" SortOrder="0">standardPage</ContentType>
    <ContentType Key="80037d2f-a02f-4f15-9caa-6889c10728e8" SortOrder="1">productsPage</ContentType>
    <ContentType Key="220bf537-1ab9-49cd-8f0b-a170c642ca84" SortOrder="2">sitemap</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>ef5163cd-e7a9-4ba5-aca8-db354e52162d</Key>
      <Name>Featured Products</Name>
      <Alias>featuredProducts</Alias>
      <Definition>62f5bda2-84fb-41b5-9ef8-9279faab7c77</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select products to feature on the home page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>72995118-217a-465d-ab6c-d33185d6d393</Key>
      <Name>Description</Name>
      <Alias>siteDescription</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A description for the site, to be used in taglines and auto-generated page titles.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>42f7077d-0629-4c49-8e9d-b3442cd112d0</Key>
      <Name>Footer Links</Name>
      <Alias>siteFooterLinks</Alias>
      <Definition>c0d86b1b-ca00-4db1-9a22-d30b14c84233</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The links to display in the very foot of the site. Usually a mix of helpful links + any legally required pages such as Terms and Conditions and Privacy Policy.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>95a709b1-c4cd-4a89-9f64-4bf5db3e5f10</Key>
      <Name>Name</Name>
      <Alias>siteName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A name for the site, to be used in taglines and auto-generated page titles.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>077db0e8-7d08-475b-b308-2b0a4c8fbfbb</Key>
      <Name>Raw Markup</Name>
      <Alias>siteRawMarkup</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[DANGEROUS! Drop in any raw markup to be appended before the closing body tag across ALL pages of the site. Used mostly for analytics code snippets. It's best not to use this field unless you know what you are doing.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>55d95710-37a0-4982-985b-f708667ecc43</Key>
      <Name>Store</Name>
      <Alias>store</Alias>
      <Definition>32099146-a254-4307-aaa2-0d6f35c14d52</Definition>
      <Type>Vendr.StorePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the store associated with this site.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="site">Site</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>0f285145-f96f-4dc9-9c24-a6689231d645</Key>
      <Caption>Site</Caption>
      <Alias>site</Alias>
      <Type>Group</Type>
      <SortOrder>100</SortOrder>
    </Tab>
    <Tab>
      <Key>c8a119d1-9da6-4125-8d97-c7a2e078dea5</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>