<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2589d425-8ffb-464d-a751-1be57917564f" Alias="multiVariantProductPage" Level="3">
  <Info>
    <Name>Multi-Variant Product Page</Name>
    <Icon>icon-barcode color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="42cdd49b-69df-4828-9404-f7c8bdb768db">productPage</Parent>
    <Compositions>
      <Composition Key="42cdd49b-69df-4828-9404-f7c8bdb768db">productPage</Composition>
    </Compositions>
    <DefaultTemplate>ProductPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="55432ed0-0e35-4dd1-aa7c-b40dbb872a9f">ProductPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0add5509-037d-47ac-9241-7b8bb35b7483</Key>
      <Name>Variants</Name>
      <Alias>variants</Alias>
      <Definition>c829731a-ff78-41e9-bd80-d48597ed9405</Definition>
      <Type>Vendr.VariantsEditor</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6523960c-60a8-45eb-b72e-4c1d59e52753</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>