<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="80037d2f-a02f-4f15-9caa-6889c10728e8" Alias="productsPage" Level="2">
  <Info>
    <Name>Products Page</Name>
    <Icon>icon-shopping-basket-alt color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Parent Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Parent>
    <Compositions>
      <Composition Key="00f9d565-9423-4ea7-bf57-931b53f73ddb">page</Composition>
      <Composition Key="0f7abaec-947d-49e4-bd37-1a82ffd34c5b">productGroupComp</Composition>
    </Compositions>
    <DefaultTemplate>ProductsPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e35ee393-1502-4b79-90fe-74d898ff563f">ProductsPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="487197b9-e567-4f95-bebd-b50a8c1f5d15" SortOrder="0">collectionPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>