@model Umbraco.Forms.Web.Models.FormViewModel

@if (Model.MessageOnSubmitIsHtml)
{
    <div class="umbraco-forms-submitmessage-html">
        @Model.GetMessageOnSubmit()
    </div>
}
else
{
    <div>
        <span class="umbraco-forms-submitmessage">
            <h2>Vielen Dank für Ihre Anfrage</h2>
            <p>Wir werden uns zeitnah mit Ihnen in Verbindung setzen.</p>
            <div class="mt-3">
                <a class="btn btn-primary" href="/">Zurück zur Startseite</a>
            </div>
        </span>
    </div>
}
@await Html.PartialAsync("Forms/Themes/default/ScrollToFormScript")