<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab79d3e6-51ab-4ea3-8fb6-d6f2ee85e4e3" Alias="2B20afd1c2fb33436eb22c1b75aa1b95" Level="4">
  <Info>
    <Parent Key="42ca71d8-8929-4d9e-ae6c-7745bcb4f67d">Sleep</Parent>
    <Path>/Products/Niche/Sleep/B20afd1c2fb33436eb22c1b75aa1b95</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:28:24</CreateDate>
    <NodeName Default="2B20afd1c2fb33436eb22c1b75aa1b95" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2djhtk3l/2b20afd1c2fb33436eb22c1b75aa1b95.jpg",
  "focalPoint": {
    "left": 0.44,
    "top": 0.48
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>