<?xml version="1.0" encoding="utf-8"?>
<Media Key="46d9f8c4-09ad-444d-ac82-3e8780a2a05f" Alias="5480Be157659976b5714a2fae6f6b401" Level="4">
  <Info>
    <Parent Key="b5678ba7-90cd-47ac-ab07-9906fd6329ce">Skin</Parent>
    <Path>/Products/Niche/Skin/Be157659976b5714a2fae6f6b401</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:28:05</CreateDate>
    <NodeName Default="5480Be157659976b5714a2fae6f6b401" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yl2nsrvn/5480be157659976b5714a2fae6f6b401.jpg",
  "focalPoint": {
    "left": 0.3383333333333333,
    "top": 0.4651851851851852
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>