<?xml version="1.0" encoding="utf-8"?>
<Media Key="39231bf9-2b2c-4fe2-919e-3d6375b87405" Alias="5483D7fd98bb17edbc041fd36ebfd294" Level="4">
  <Info>
    <Parent Key="5eaf14d5-e8ca-4792-aae6-67162a70d720">Body</Parent>
    <Path>/Products/Niche/Body/D7fd98bb17edbc041fd36ebfd294</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:26:28</CreateDate>
    <NodeName Default="5483D7fd98bb17edbc041fd36ebfd294" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/52ndgojm/5483d7fd98bb17edbc041fd36ebfd294.jpg",
  "focalPoint": {
    "left": 0.48833333333333334,
    "top": 0.5037037037037037
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>