<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a5a26c5-197d-47e5-a002-6998a5e7915c" Alias="6F86beb3f3d9449a7c46f94516db7115" Level="4">
  <Info>
    <Parent Key="8a3fb17a-d8bc-4b95-8a0d-5bc832560051">Cleanse</Parent>
    <Path>/Products/Niche/Cleanse/F86beb3f3d9449a7c46f94516db7115</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:26:51</CreateDate>
    <NodeName Default="6F86beb3f3d9449a7c46f94516db7115" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ymtfuct3/6f86beb3f3d9449a7c46f94516db7115.jpg",
  "focalPoint": {
    "left": 0.43666666666666665,
    "top": 0.4948148148148148
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>