<?xml version="1.0" encoding="utf-8"?>
<Media Key="40784152-87fa-466d-9274-efed8b05ef97" Alias="9T1A4470" Level="4">
  <Info>
    <Parent Key="435a3536-e661-4040-8e9a-59774e410188">Green Tea</Parent>
    <Path>/Products/Nemi/GreenTea/T1A4470</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:46</CreateDate>
    <NodeName Default="9T1A4470" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/krahqqh0/9t1a4470.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>