<?xml version="1.0" encoding="utf-8"?>
<Media Key="61e0810a-f85f-4fc6-860e-7b8fbf5bd714" Alias="9T1A4494" Level="4">
  <Info>
    <Parent Key="ebb98599-0e59-466d-a9d6-005e9c66b70e">Spicy Chai</Parent>
    <Path>/Products/Nemi/SpicyChai/T1A4494</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:31</CreateDate>
    <NodeName Default="9T1A4494" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bsapayk5/9t1a4494.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>