<?xml version="1.0" encoding="utf-8"?>
<Media Key="4532803c-79c9-4670-b18d-dee7cb7107a7" Alias="9T1A4369" Level="4">
  <Info>
    <Parent Key="435a3536-e661-4040-8e9a-59774e410188">Green Tea</Parent>
    <Path>/Products/Nemi/GreenTea/T1A4369</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:48</CreateDate>
    <NodeName Default="9T1A4369" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hkaderoj/9t1a4369.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>