<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ef1ae27-992f-4afe-a808-2a5eec116b18" Alias="9T1A3237" Level="4">
  <Info>
    <Parent Key="340df5fd-21c7-49b1-a20c-39d942c8bb15">English Breakfast</Parent>
    <Path>/Products/Nemi/EnglishBreakfast/T1A3237</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:19</CreateDate>
    <NodeName Default="9T1A3237" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/egxpc1rp/9t1a3237.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>