<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1339c6f-2128-4973-82af-20831f40c1ac" Alias="9T1A4450" Level="4">
  <Info>
    <Parent Key="340df5fd-21c7-49b1-a20c-39d942c8bb15">English Breakfast</Parent>
    <Path>/Products/Nemi/EnglishBreakfast/T1A4450</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:20</CreateDate>
    <NodeName Default="9T1A4450" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ngodh2ji/9t1a4450.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>