<?xml version="1.0" encoding="utf-8"?>
<Media Key="bea2ed4d-8527-4ec4-b7b7-499251432c50" Alias="9T1A3198" Level="4">
  <Info>
    <Parent Key="5da09402-37ed-4a46-b89e-7d11ee32edfc">Earl Grey</Parent>
    <Path>/Products/Nemi/EarlGrey/T1A3198</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:50</CreateDate>
    <NodeName Default="9T1A3198" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jpwlfprh/9t1a3198.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>