<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfbf5320-b512-47e2-a29e-15831916fedf" Alias="9T1A1166" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/T1A1166</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:57</CreateDate>
    <NodeName Default="9T1A1166" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ezjl5pys/9t1a1166.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>