<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e1de0e7-6bc6-46e8-a9ef-96f70faa0851" Alias="9T1A3216" Level="4">
  <Info>
    <Parent Key="ebb98599-0e59-466d-a9d6-005e9c66b70e">Spicy Chai</Parent>
    <Path>/Products/Nemi/SpicyChai/T1A3216</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:30</CreateDate>
    <NodeName Default="9T1A3216" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2hqb1dwg/9t1a3216.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>