<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f8282a7-dc2f-445c-a31a-67b44f53bcb1" Alias="9T1A4375" Level="4">
  <Info>
    <Parent Key="e0c08b34-c96c-4745-ab9d-fe54dd4c5026">Cardamom Chai</Parent>
    <Path>/Products/Nemi/CardamomChai/T1A4375</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:06</CreateDate>
    <NodeName Default="9T1A4375" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ugbiexzp/9t1a4375.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>