<?xml version="1.0" encoding="utf-8"?>
<Media Key="40e14a18-bd78-448a-a11b-b6ec48e9353a" Alias="9T1A4314" Level="4">
  <Info>
    <Parent Key="340df5fd-21c7-49b1-a20c-39d942c8bb15">English Breakfast</Parent>
    <Path>/Products/Nemi/EnglishBreakfast/T1A4314</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:20</CreateDate>
    <NodeName Default="9T1A4314" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dzfocqdy/9t1a4314.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>