<?xml version="1.0" encoding="utf-8"?>
<Media Key="62a298b7-695d-43c6-8ef5-545bd2364bc5" Alias="9T1A4351" Level="4">
  <Info>
    <Parent Key="435a3536-e661-4040-8e9a-59774e410188">Green Tea</Parent>
    <Path>/Products/Nemi/GreenTea/T1A4351</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:46</CreateDate>
    <NodeName Default="9T1A4351" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wgmkeys3/9t1a4351.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>