<?xml version="1.0" encoding="utf-8"?>
<Media Key="b163c646-ad95-41d6-a08a-b59aa9b7c60c" Alias="9T1A4461" Level="4">
  <Info>
    <Parent Key="5da09402-37ed-4a46-b89e-7d11ee32edfc">Earl Grey</Parent>
    <Path>/Products/Nemi/EarlGrey/T1A4461</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:51</CreateDate>
    <NodeName Default="9T1A4461" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/iddghmmv/9t1a4461.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>