<?xml version="1.0" encoding="utf-8"?>
<Media Key="e3955c25-72a9-461e-8e01-e8ceef0329f4" Alias="9T1A4394" Level="4">
  <Info>
    <Parent Key="e0c08b34-c96c-4745-ab9d-fe54dd4c5026">Cardamom Chai</Parent>
    <Path>/Products/Nemi/CardamomChai/T1A4394</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:07</CreateDate>
    <NodeName Default="9T1A4394" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/enojly3j/9t1a4394.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>