<?xml version="1.0" encoding="utf-8"?>
<Media Key="67f454e5-fb31-480c-96b9-fe95aaef3211" Alias="9T1A4364" Level="4">
  <Info>
    <Parent Key="435a3536-e661-4040-8e9a-59774e410188">Green Tea</Parent>
    <Path>/Products/Nemi/GreenTea/T1A4364</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:47</CreateDate>
    <NodeName Default="9T1A4364" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2nkpizzr/9t1a4364.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>