<?xml version="1.0" encoding="utf-8"?>
<Media Key="0544c4f0-02a4-44e1-8c5d-24c6f2591232" Alias="9T1A4335" Level="4">
  <Info>
    <Parent Key="e0c08b34-c96c-4745-ab9d-fe54dd4c5026">Cardamom Chai</Parent>
    <Path>/Products/Nemi/CardamomChai/T1A4335</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:05</CreateDate>
    <NodeName Default="9T1A4335" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/41ceibne/9t1a4335.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>