<?xml version="1.0" encoding="utf-8"?>
<Media Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2" Alias="Accessories" Level="2">
  <Info>
    <Parent Key="75312324-4678-45a8-941d-a61fe0cb06e7">Products</Parent>
    <Path>/Products/Accessories</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:50:34</CreateDate>
    <NodeName Default="Accessories" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>