<?xml version="1.0" encoding="utf-8"?>
<Media Key="5eaf14d5-e8ca-4792-aae6-67162a70d720" Alias="Body" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Body</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:26:21</CreateDate>
    <NodeName Default="Body" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>