<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ecc0a1f-5e67-4478-8627-89bebe906e0a" Alias="Boxes Stacked Web Ready" Level="4">
  <Info>
    <Parent Key="f9b542ca-c876-4b8d-95d6-9880c7c131a0">Tea Bag Collection</Parent>
    <Path>/Products/GoodProper/TeaBagCollection/BoxesStackedWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:13:29</CreateDate>
    <NodeName Default="Boxes Stacked Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/defmy1th/boxes-stacked-web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>