<?xml version="1.0" encoding="utf-8"?>
<Media Key="9eb1c618-2437-4f32-b7fe-7c70c00819f0" Alias="Breakfast Tea Set" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/BreakfastTeaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:05:19</CreateDate>
    <NodeName Default="Breakfast Tea Set" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>