<?xml version="1.0" encoding="utf-8"?>
<Media Key="922d3e91-bf69-40e2-8a93-d376b3b8c71b" Alias="Brockley Breakfast TEABAGS Higher Angle Web Ready" Level="4">
  <Info>
    <Parent Key="fa0af32e-934a-47ad-a757-5fadf38e3ba5">Brockley Breakfast</Parent>
    <Path>/Products/GoodProper/BrockleyBreakfast/BrockleyBreakfastTEABAGSHigherAngleWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:06:15</CreateDate>
    <NodeName Default="Brockley Breakfast TEABAGS Higher Angle Web Ready" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s25c1etj/brockley-breakfast_teabags_higher-angle_-web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>