<?xml version="1.0" encoding="utf-8"?>
<Media Key="91d56224-da78-4a4c-99f2-77a9ee608599" Alias="Brockley Breakfast TEABAGS Front Web+Ready" Level="4">
  <Info>
    <Parent Key="fa0af32e-934a-47ad-a757-5fadf38e3ba5">Brockley Breakfast</Parent>
    <Path>/Products/GoodProper/BrockleyBreakfast/BrockleyBreakfastTEABAGSFrontWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:06:14</CreateDate>
    <NodeName Default="Brockley Breakfast TEABAGS Front Web+Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ejrnlely/brockley-breakfast_teabags__front_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>