<?xml version="1.0" encoding="utf-8"?>
<Media Key="2f722866-8f36-466b-b8a5-9513e5a12fed" Alias="C791556f12e6e275445c8183bbf20ec4" Level="4">
  <Info>
    <Parent Key="d2d12b2c-2731-4721-91ea-3ef9ccdb6327">Green</Parent>
    <Path>/Products/Niche/Green/C791556f12e6e275445c8183bbf20ec4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:27:17</CreateDate>
    <NodeName Default="C791556f12e6e275445c8183bbf20ec4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mauhelzw/c791556f12e6e275445c8183bbf20ec4.jpg",
  "focalPoint": {
    "left": 0.5933333333333334,
    "top": 0.5071031917524538
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>