<?xml version="1.0" encoding="utf-8"?>
<Media Key="e0c08b34-c96c-4745-ab9d-fe54dd4c5026" Alias="Cardamom Chai" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/CardamomChai</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:22:58</CreateDate>
    <NodeName Default="Cardamom Chai" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>