<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a4d1591-255c-4eac-97ea-9e9600826c24" Alias="Chai Strainer 1" Level="4">
  <Info>
    <Parent Key="d1a927aa-c3bb-471e-a6aa-66abb9e5cefe">Strainer</Parent>
    <Path>/Products/Accessories/Strainer/ChaiStrainer1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:52:35</CreateDate>
    <NodeName Default="Chai Strainer 1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s2kf1cs2/chai-strainer_1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>