<?xml version="1.0" encoding="utf-8"?>
<Media Key="08a2391c-46d8-406c-8399-2d61c2af77a2" Alias="Chai Strainer 3" Level="4">
  <Info>
    <Parent Key="d1a927aa-c3bb-471e-a6aa-66abb9e5cefe">Strainer</Parent>
    <Path>/Products/Accessories/Strainer/ChaiStrainer3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:52:36</CreateDate>
    <NodeName Default="Chai Strainer 3" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/di2lecgy/chai-strainer_3.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>