<?xml version="1.0" encoding="utf-8"?>
<Media Key="f83b8a27-833d-48d6-9487-a022e5d9f4b3" Alias="Chilly's Coffee Cup" Level="3">
  <Info>
    <Parent Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2">Accessories</Parent>
    <Path>/Products/Accessories/ChillysCoffeeCup</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2021-01-11T14:34:34</CreateDate>
    <NodeName Default="Chilly's Coffee Cup" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>