<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a3fb17a-d8bc-4b95-8a0d-5bc832560051" Alias="Cleanse" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Cleanse</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:26:43</CreateDate>
    <NodeName Default="Cleanse" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>