<?xml version="1.0" encoding="utf-8"?>
<Media Key="d71dc210-08c1-44f1-9897-7a72925ec6c6" Alias="Complete Tea Set" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/CompleteTeaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:06:38</CreateDate>
    <NodeName Default="Complete Tea Set" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>