<?xml version="1.0" encoding="utf-8"?>
<Media Key="047d6ad6-fa35-46f5-9746-b093ef3cbd4c" Alias="COMPLETE SET Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="d71dc210-08c1-44f1-9897-7a72925ec6c6">Complete Tea Set</Parent>
    <Path>/Products/GoodProper/CompleteTeaSet/COMPLETESETStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:06:45</CreateDate>
    <NodeName Default="COMPLETE SET Straight On Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0bvh0bbv/complete_set_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>