<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2c65b2d-d8cb-4b8b-a449-5fa1ae67099d" Alias="E7046c4a65177393281c4760cc20b9ba" Level="4">
  <Info>
    <Parent Key="d97a5284-9901-4b2a-b1e2-628baa850551">Misc</Parent>
    <Path>/Products/Niche/Misc/E7046c4a65177393281c4760cc20b9ba</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T10:59:05</CreateDate>
    <NodeName Default="E7046c4a65177393281c4760cc20b9ba" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fnnnnqwl/e7046c4a65177393281c4760cc20b9ba.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>