<?xml version="1.0" encoding="utf-8"?>
<Media Key="6362f764-a2a8-4df7-8260-4d62bb4ba0a3" Alias="Earl Grey" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/EarlGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:07:07</CreateDate>
    <NodeName Default="Earl Grey" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>