<?xml version="1.0" encoding="utf-8"?>
<Media Key="5853a5af-d97e-4836-a397-6d549441bbeb" Alias="Earl+Grey+Main" Level="4">
  <Info>
    <Parent Key="5da09402-37ed-4a46-b89e-7d11ee32edfc">Earl Grey</Parent>
    <Path>/Products/Nemi/EarlGrey/EarlplusGreyplusMain</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:52</CreateDate>
    <NodeName Default="Earl+Grey+Main" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vgsfgwd4/earl-grey-main.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>