<?xml version="1.0" encoding="utf-8"?>
<Media Key="cbaaca23-5d5b-479e-9066-faee34817eac" Alias="Earl Grey Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="6362f764-a2a8-4df7-8260-4d62bb4ba0a3">Earl Grey</Parent>
    <Path>/Products/GoodProper/EarlGrey/EarlGreyLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:07:15</CreateDate>
    <NodeName Default="Earl Grey Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/exfkvs01/earl-grey_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>