<?xml version="1.0" encoding="utf-8"?>
<Media Key="5da09402-37ed-4a46-b89e-7d11ee32edfc" Alias="Earl Grey" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/EarlGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:23:43</CreateDate>
    <NodeName Default="Earl Grey" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>