<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b3aa032-07eb-41bd-a460-3304d8ad702a" Alias="Eastern Beauty Oolong+Tea" Level="4">
  <Info>
    <Parent Key="d432bf49-0796-41d8-87dc-6b216597b168">Misc</Parent>
    <Path>/Products/GoodProper/Misc/EasternBeautyOolongplusTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:02:28</CreateDate>
    <NodeName Default="Eastern Beauty Oolong+Tea" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gsqduc5l/eastern-beauty-oolong-tea.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>