<?xml version="1.0" encoding="utf-8"?>
<Media Key="069d22be-f2f3-45da-be44-b5a5456d5221" Alias="English Breakfast Loose Leaf Master Web" Level="4">
  <Info>
    <Parent Key="fa5f560e-0127-4ee5-b013-eb4878f449b1">English Breakfast</Parent>
    <Path>/Products/GoodProper/EnglishBreakfast/EnglishBreakfastLooseLeafMasterWeb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:07:39</CreateDate>
    <NodeName Default="English Breakfast Loose Leaf Master Web" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xarj0bxt/english-breakfast-loose-leaf-master-web.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>