<?xml version="1.0" encoding="utf-8"?>
<Media Key="340df5fd-21c7-49b1-a20c-39d942c8bb15" Alias="English Breakfast" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/EnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:24:11</CreateDate>
    <NodeName Default="English Breakfast" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>