<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2b9b1d5-d0d0-47ac-a368-fbcd8c1b98bc" Alias="Ever So English Breakfast Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="18247c8a-4b11-4e46-81d7-1bd8bc6803ee">Ever So English Breakfast</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishBreakfast/EverSoEnglishBreakfastJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:16:31</CreateDate>
    <NodeName Default="Ever So English Breakfast Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0oyltiwq/ever-so-english-breakfast-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>