<?xml version="1.0" encoding="utf-8"?>
<Media Key="88efbf7b-24ff-4e43-a43b-e2c40574855c" Alias="Ever So English Decaf Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="b780bde6-075c-4bfc-8208-bfd055b046d5">Ever So English Decaf</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishDecaf/EverSoEnglishDecafJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:17:49</CreateDate>
    <NodeName Default="Ever So English Decaf Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pw5p5ch5/ever-so-english-decaf-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>