<?xml version="1.0" encoding="utf-8"?>
<Media Key="46e5f533-b24d-477e-a4d9-1a1b312e9db8" Alias="Ever So English Everyday" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishEveryday</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:18:51</CreateDate>
    <NodeName Default="Ever So English Everyday" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>