<?xml version="1.0" encoding="utf-8"?>
<Media Key="18247c8a-4b11-4e46-81d7-1bd8bc6803ee" Alias="Ever So English Breakfast" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:16:23</CreateDate>
    <NodeName Default="Ever So English Breakfast" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>