<?xml version="1.0" encoding="utf-8"?>
<Media Key="d27f5ca4-bc5f-47c8-8aa5-c5dd83de983d" Alias="Ever So English Decaf Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="b780bde6-075c-4bfc-8208-bfd055b046d5">Ever So English Decaf</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishDecaf/EverSoEnglishDecafPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:17:49</CreateDate>
    <NodeName Default="Ever So English Decaf Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ujoh5us5/ever-so-english-decaf-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>