<?xml version="1.0" encoding="utf-8"?>
<Media Key="71378786-bbb3-48c9-9f86-db7fe35835ca" Alias="Ever So English Decaf Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="b780bde6-075c-4bfc-8208-bfd055b046d5">Ever So English Decaf</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishDecaf/EverSoEnglishDecafFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:17:48</CreateDate>
    <NodeName Default="Ever So English Decaf Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qcddo2nt/ever-so-english-decaf-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>