<?xml version="1.0" encoding="utf-8"?>
<Media Key="11ea6856-4821-45cf-a982-a36b52f059c1" Alias="Ever So English Decaf Retail Side Of Pack Joes Tea Co. Web Ready 1X11" Level="4">
  <Info>
    <Parent Key="b780bde6-075c-4bfc-8208-bfd055b046d5">Ever So English Decaf</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishDecaf/EverSoEnglishDecafRetailSideOfPackJoesTeaCoWebReady1X11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:17:47</CreateDate>
    <NodeName Default="Ever So English Decaf Retail Side Of Pack Joes Tea Co. Web Ready 1X11" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kbuouejb/ever-so-english-decaf-retail-side-of-pack-joes-tea-co-web-ready-1x11.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>