<?xml version="1.0" encoding="utf-8"?>
<Media Key="261ff28d-fbcf-49d2-b46e-20882bfe8a40" Alias="Ever So English Breakfast Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="18247c8a-4b11-4e46-81d7-1bd8bc6803ee">Ever So English Breakfast</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishBreakfast/EverSoEnglishBreakfastPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:16:32</CreateDate>
    <NodeName Default="Ever So English Breakfast Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rpzb4jwp/ever-so-english-breakfast-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>