<?xml version="1.0" encoding="utf-8"?>
<Media Key="ababa0fb-b10c-4734-bd35-14aeb484698e" Alias="Ever So English Breakfast" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/EverSoEnglishBreakfast</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:42</CreateDate>
    <NodeName Default="Ever So English Breakfast" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5wqkxkym/ever_so_english_breakfast.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>