<?xml version="1.0" encoding="utf-8"?>
<Media Key="803be068-37d9-4da0-af3f-0a4e59c38c92" Alias="Ever So English Everyday Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="46e5f533-b24d-477e-a4d9-1a1b312e9db8">Ever So English Everyday</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishEveryday/EverSoEnglishEverydayPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:01</CreateDate>
    <NodeName Default="Ever So English Everyday Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/n1qdxagz/ever-so-english-everyday-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>