<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bd94f1c-89f8-4489-83e3-b8e3106e7a3a" Alias="Ever So English Breakfast Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="18247c8a-4b11-4e46-81d7-1bd8bc6803ee">Ever So English Breakfast</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishBreakfast/EverSoEnglishBreakfastRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:16:33</CreateDate>
    <NodeName Default="Ever So English Breakfast Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/djhnss5y/ever-so-english-breakfast-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>