<?xml version="1.0" encoding="utf-8"?>
<Media Key="464f60f3-41d6-42ba-b218-3ee38ca924c8" Alias="Ever So English Everyday Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="46e5f533-b24d-477e-a4d9-1a1b312e9db8">Ever So English Everyday</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishEveryday/EverSoEnglishEverydayRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:02</CreateDate>
    <NodeName Default="Ever So English Everyday Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4vqe4rww/ever-so-english-everyday-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>