<?xml version="1.0" encoding="utf-8"?>
<Media Key="687bd000-de66-4739-b493-6bd3065855eb" Alias="Ever So English Everyday Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="46e5f533-b24d-477e-a4d9-1a1b312e9db8">Ever So English Everyday</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishEveryday/EverSoEnglishEverydayRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:18:59</CreateDate>
    <NodeName Default="Ever So English Everyday Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a1ihw0dg/ever-so-english-everyday-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>