<?xml version="1.0" encoding="utf-8"?>
<Media Key="ea500405-4471-47f7-b9bf-b8674d0f4d38" Alias="Ever So English Everyday Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="46e5f533-b24d-477e-a4d9-1a1b312e9db8">Ever So English Everyday</Parent>
    <Path>/Products/JoesTeaCo/EverSoEnglishEveryday/EverSoEnglishEverydayJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:00</CreateDate>
    <NodeName Default="Ever So English Everyday Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/amcfb0tr/ever-so-english-everyday-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>