<?xml version="1.0" encoding="utf-8"?>
<Media Key="6e32b70c-14a1-496c-8268-82cc6cac5f14" Alias="Feast It Good And Proper Tea Street Food Event Catering Teas Crumpets Book Now Two" Level="4">
  <Info>
    <Parent Key="d432bf49-0796-41d8-87dc-6b216597b168">Misc</Parent>
    <Path>/Products/GoodProper/Misc/FeastItGoodAndProperTeaStreetFoodEventCateringTeasCrumpetsBookNowTwo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:02:28</CreateDate>
    <NodeName Default="Feast It Good And Proper Tea Street Food Event Catering Teas Crumpets Book Now Two" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bk1de1vb/feast-it-good-and-proper-tea-street-food-event-catering-teas-crumpets-book-now-two.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>