<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac652a50-e11d-4848-ba6d-48dee9476fdc" Alias="Four Seasons Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="d029e523-b134-4e67-b67f-6242d9a84e12">Four Seasons</Parent>
    <Path>/Products/GoodProper/FourSeasons/FourSeasonsLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:03</CreateDate>
    <NodeName Default="Four Seasons Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kyvglla3/four-seasons_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>