<?xml version="1.0" encoding="utf-8"?>
<Media Key="d029e523-b134-4e67-b67f-6242d9a84e12" Alias="Four Seasons" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/FourSeasons</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:07:55</CreateDate>
    <NodeName Default="Four Seasons" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>