<?xml version="1.0" encoding="utf-8"?>
<Media Key="96e3c1ed-b022-44f1-8b09-2aea7209f020" Alias="Full Range Retail Front Of Pack Joes Tea Co. Web Ready 1550X450" Level="4">
  <Info>
    <Parent Key="87b3f79c-fb67-4238-9855-2312a466dd92">Misc</Parent>
    <Path>/Products/JoesTeaCo/Misc/FullRangeRetailFrontOfPackJoesTeaCoWebReady1550X450</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:05:16</CreateDate>
    <NodeName Default="Full Range Retail Front Of Pack Joes Tea Co. Web Ready 1550X450" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3paphfrc/full-range-retail-front-of-pack-joes-tea-co-web-ready-1550x450.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>