<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7049b10-6694-40da-a254-70b47f696c0f" Alias="Gift Card" Level="3">
  <Info>
    <Parent Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2">Accessories</Parent>
    <Path>/Products/Accessories/GiftCard</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2020-05-28T14:50:11</CreateDate>
    <NodeName Default="Gift Card" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>