<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f" Alias="Good &amp; Proper" Level="2">
  <Info>
    <Parent Key="75312324-4678-45a8-941d-a61fe0cb06e7">Products</Parent>
    <Path>/Products/GoodProper</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:04:51</CreateDate>
    <NodeName Default="Good &amp; Proper" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>