<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4302502-1c98-4d54-9a8f-ae63d6c2d9b9" Alias="G&amp;P Teapot Web Ready" Level="4">
  <Info>
    <Parent Key="d71dc210-08c1-44f1-9897-7a72925ec6c6">Complete Tea Set</Parent>
    <Path>/Products/GoodProper/CompleteTeaSet/GPTeapotWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:06:46</CreateDate>
    <NodeName Default="G&amp;P Teapot Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aqsdbjey/g-p-teapot-web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>