<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2d12b2c-2731-4721-91ea-3ef9ccdb6327" Alias="Green" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Green</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:27:10</CreateDate>
    <NodeName Default="Green" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>