<?xml version="1.0" encoding="utf-8"?>
<Media Key="435a3536-e661-4040-8e9a-59774e410188" Alias="Green Tea" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/GreenTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:24:39</CreateDate>
    <NodeName Default="Green Tea" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>