<?xml version="1.0" encoding="utf-8"?>
<Media Key="4084103f-ec58-4546-bdce-05a65106d26f" Alias="Green Tea" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/GreenTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:43</CreateDate>
    <NodeName Default="Green Tea" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/heiiiqcy/green_tea.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>