<?xml version="1.0" encoding="utf-8"?>
<Media Key="61a6a928-dad5-4f38-9a8e-6b4fa88de297" Alias="Image 15 Fa289cd9 97B7 4060 A5c2 B19f610f6d58 273X 2X" Level="4">
  <Info>
    <Parent Key="d2d12b2c-2731-4721-91ea-3ef9ccdb6327">Green</Parent>
    <Path>/Products/Niche/Green/Image15Fa289cd997B74060A5c2B19f610f6d58273X2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:34:23</CreateDate>
    <NodeName Default="Image 15 Fa289cd9 97B7 4060 A5c2 B19f610f6d58 273X 2X" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f0ulmyov/image-15_fa289cd9-97b7-4060-a5c2-b19f610f6d58_273x_2x.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>