<?xml version="1.0" encoding="utf-8"?>
<Media Key="e2016feb-a56b-42af-a535-248b29970d9c" Alias="Image 17 50F55896 0F0f 4D08 98Cf 80Aac3f10921 273X 2X" Level="4">
  <Info>
    <Parent Key="42ca71d8-8929-4d9e-ae6c-7745bcb4f67d">Sleep</Parent>
    <Path>/Products/Niche/Sleep/Image1750F558960F0f4D0898Cf80Aac3f10921273X2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:34:50</CreateDate>
    <NodeName Default="Image 17 50F55896 0F0f 4D08 98Cf 80Aac3f10921 273X 2X" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3vxbdytl/image-17_50f55896-0f0f-4d08-98cf-80aac3f10921_273x_2x.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>