<?xml version="1.0" encoding="utf-8"?>
<Media Key="e05a5db2-68e7-432e-b86a-d1a6809dec84" Alias="Image 1" Level="4">
  <Info>
    <Parent Key="d97a5284-9901-4b2a-b1e2-628baa850551">Misc</Parent>
    <Path>/Products/Niche/Misc/Image1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T10:59:06</CreateDate>
    <NodeName Default="Image 1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wrofvyhh/image-1.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>