<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a515d4a-337c-4e5e-b2cb-4ce5eba7b4bb" Alias="Image 13 50E5ac02 666B 475A 80C5 722714Daf2b9 273X 2X" Level="4">
  <Info>
    <Parent Key="5eaf14d5-e8ca-4792-aae6-67162a70d720">Body</Parent>
    <Path>/Products/Niche/Body/Image1350E5ac02666B475A80C5722714Daf2b9273X2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:34:05</CreateDate>
    <NodeName Default="Image 13 50E5ac02 666B 475A 80C5 722714Daf2b9 273X 2X" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jrofc0t2/image-13_50e5ac02-666b-475a-80c5-722714daf2b9_273x_2x.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>