<?xml version="1.0" encoding="utf-8"?>
<Media Key="df4ab38b-ab02-4753-93a8-f55d8035b6f4" Alias="Image 14 D8357b69 7357 4833 A476 E5cdc673fe5c 273X 2X" Level="4">
  <Info>
    <Parent Key="b5678ba7-90cd-47ac-ab07-9906fd6329ce">Skin</Parent>
    <Path>/Products/Niche/Skin/Image14D8357b6973574833A476E5cdc673fe5c273X2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:34:43</CreateDate>
    <NodeName Default="Image 14 D8357b69 7357 4833 A476 E5cdc673fe5c 273X 2X" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rwzfvxyc/image-14_d8357b69-7357-4833-a476-e5cdc673fe5c_273x_2x.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>