<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3116972-fba9-491a-b4f8-28262d6f3fe7" Alias="Image 16 11F60b3a 8B09 43A3 8Ccb Dbc1cf5237ab 273X 2X" Level="4">
  <Info>
    <Parent Key="8a3fb17a-d8bc-4b95-8a0d-5bc832560051">Cleanse</Parent>
    <Path>/Products/Niche/Cleanse/Image1611F60b3a8B0943A38CcbDbc1cf5237ab273X2X</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:34:16</CreateDate>
    <NodeName Default="Image 16 11F60b3a 8B09 43A3 8Ccb Dbc1cf5237ab 273X 2X" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/orubdi3j/image-16_11f60b3a-8b09-43a3-8ccb-dbc1cf5237ab_273x_2x.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>