<?xml version="1.0" encoding="utf-8"?>
<Media Key="ec2ff0c0-7595-4bed-85e7-aa58605bc491" Alias="In Cup Brewer" Level="3">
  <Info>
    <Parent Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2">Accessories</Parent>
    <Path>/Products/Accessories/InCupBrewer</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:51:15</CreateDate>
    <NodeName Default="In Cup Brewer" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>