<?xml version="1.0" encoding="utf-8"?>
<Media Key="3af48472-80c1-4fb2-92f0-1502cb89dfc7" Alias="Iron Buddha" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/IronBuddha</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:08:26</CreateDate>
    <NodeName Default="Iron Buddha" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>