<?xml version="1.0" encoding="utf-8"?>
<Media Key="90686478-bd12-4c29-83a0-54faeaa8bd11" Alias="Iron Buddha Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="3af48472-80c1-4fb2-92f0-1502cb89dfc7">Iron Buddha</Parent>
    <Path>/Products/GoodProper/IronBuddha/IronBuddhaLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:33</CreateDate>
    <NodeName Default="Iron Buddha Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pzsgreas/iron-buddha_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>