<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bf29b86-a1f4-4441-90e0-f7f7ff1286d1" Alias="Jade Tips TEABAGS 19 Higher Angle Web Ready" Level="4">
  <Info>
    <Parent Key="0b7f9a04-52d4-4aa5-ab66-3d63ec30c29c">Jade Tips</Parent>
    <Path>/Products/GoodProper/JadeTips/JadeTipsTEABAGS19HigherAngleWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:58</CreateDate>
    <NodeName Default="Jade Tips TEABAGS 19 Higher Angle Web Ready" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qcnpec5u/jade-tips_teabags_19_higher-angle_-web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>