<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b7f9a04-52d4-4aa5-ab66-3d63ec30c29c" Alias="Jade Tips" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/JadeTips</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:08:49</CreateDate>
    <NodeName Default="Jade Tips" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>