<?xml version="1.0" encoding="utf-8"?>
<Media Key="174be804-47a8-44d7-9f83-1e653d9cb98d" Alias="Jade Tips TEABAGS Straight Web Ready" Level="4">
  <Info>
    <Parent Key="0b7f9a04-52d4-4aa5-ab66-3d63ec30c29c">Jade Tips</Parent>
    <Path>/Products/GoodProper/JadeTips/JadeTipsTEABAGSStraightWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:57</CreateDate>
    <NodeName Default="Jade Tips TEABAGS Straight Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aluewf3i/jade-tips_teabags_straight_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>