<?xml version="1.0" encoding="utf-8"?>
<Media Key="9ff085cd-c062-4dbd-be38-36b2b81dc744" Alias="Jarr+Kombucha+And+Good+&amp;+Proper+Tea" Level="4">
  <Info>
    <Parent Key="d432bf49-0796-41d8-87dc-6b216597b168">Misc</Parent>
    <Path>/Products/GoodProper/Misc/JarrplusKombuchaplusAndplusGoodplusplusProperplusTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:02:29</CreateDate>
    <NodeName Default="Jarr+Kombucha+And+Good+&amp;+Proper+Tea" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zocpbh1c/jarr-kombucha-and-good-proper-tea.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>