<?xml version="1.0" encoding="utf-8"?>
<Media Key="a40304e7-35f0-457c-82c5-378db7d3a568" Alias="Jasmines Green Glory Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="126781cd-1fdd-407f-8e71-448c60075d91">Jasmines Green Glory</Parent>
    <Path>/Products/JoesTeaCo/JasminesGreenGlory/JasminesGreenGloryRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:29</CreateDate>
    <NodeName Default="Jasmines Green Glory Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2ecahjhq/jasmines-green-glory-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>