<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f31d4fe-9fbc-49e8-916e-f51225fce5d1" Alias="Jasmine Pearls Leaf &amp; Liquor Web Ready" Level="4">
  <Info>
    <Parent Key="816d9a2f-e00d-488c-9eb6-a1c77e06ded9">Jasmine Pearls</Parent>
    <Path>/Products/GoodProper/JasminePearls/JasminePearlsLeafLiquorWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:09:27</CreateDate>
    <NodeName Default="Jasmine Pearls Leaf &amp; Liquor Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5dkdc532/jasmine-pearls_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>