<?xml version="1.0" encoding="utf-8"?>
<Media Key="8ecfe976-a86f-4f42-b6eb-6722d00dfa48" Alias="Jasmines Green Glory Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="126781cd-1fdd-407f-8e71-448c60075d91">Jasmines Green Glory</Parent>
    <Path>/Products/JoesTeaCo/JasminesGreenGlory/JasminesGreenGloryJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:30</CreateDate>
    <NodeName Default="Jasmines Green Glory Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/odun5dtp/jasmines-green-glory-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>