<?xml version="1.0" encoding="utf-8"?>
<Media Key="816d9a2f-e00d-488c-9eb6-a1c77e06ded9" Alias="Jasmine Pearls" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/JasminePearls</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:09:21</CreateDate>
    <NodeName Default="Jasmine Pearls" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>