<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dc2a7db-654a-418f-aebc-abca4c607558" Alias="Jasmines Green Glory Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="126781cd-1fdd-407f-8e71-448c60075d91">Jasmines Green Glory</Parent>
    <Path>/Products/JoesTeaCo/JasminesGreenGlory/JasminesGreenGloryPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:19:31</CreateDate>
    <NodeName Default="Jasmines Green Glory Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1wtne1kk/jasmines-green-glory-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>