<?xml version="1.0" encoding="utf-8"?>
<Media Key="126781cd-1fdd-407f-8e71-448c60075d91" Alias="Jasmines Green Glory" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/JasminesGreenGlory</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:19:22</CreateDate>
    <NodeName Default="Jasmines Green Glory" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>