<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb" Alias="Joe's Tea &amp; Co" Level="2">
  <Info>
    <Parent Key="75312324-4678-45a8-941d-a61fe0cb06e7">Products</Parent>
    <Path>/Products/JoesTeaCo</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:15:10</CreateDate>
    <NodeName Default="Joe's Tea &amp; Co" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>