<?xml version="1.0" encoding="utf-8"?>
<Media Key="92e6efca-a645-47ba-b43a-03301cc79f47" Alias="Keep Cup" Level="3">
  <Info>
    <Parent Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2">Accessories</Parent>
    <Path>/Products/Accessories/KeepCup</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:51:28</CreateDate>
    <NodeName Default="Keep Cup" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>