<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a6dd43f-0ceb-4a8b-99f9-9fc07dd6099c" Alias="Lemon Grass" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/LemonGrass</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:09:41</CreateDate>
    <NodeName Default="Lemon Grass" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>