<?xml version="1.0" encoding="utf-8"?>
<Media Key="c9a9507c-b545-499a-ade1-fd6ffcce0e08" Alias="Lemongrass Leaf &amp; Liquor Web Ready" Level="4">
  <Info>
    <Parent Key="0a6dd43f-0ceb-4a8b-99f9-9fc07dd6099c">Lemon Grass</Parent>
    <Path>/Products/GoodProper/LemonGrass/LemongrassLeafLiquorWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:09:46</CreateDate>
    <NodeName Default="Lemongrass Leaf &amp; Liquor Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjiktskf/lemongrass_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>