<?xml version="1.0" encoding="utf-8"?>
<Media Key="c02e0bac-c215-4449-9139-36df424917bc" Alias="Loose Leaf Pack IRON BUDDAH Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="3af48472-80c1-4fb2-92f0-1502cb89dfc7">Iron Buddha</Parent>
    <Path>/Products/GoodProper/IronBuddha/LooseLeafPackIRONBUDDAHStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:32</CreateDate>
    <NodeName Default="Loose Leaf Pack IRON BUDDAH Straight On Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vifd3qav/loose-leaf_pack_iron_buddah_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>