<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a95c538-e3e4-4805-93f4-e7703d1a808e" Alias="Loose Leaf Pack SENCHA Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="f739073e-de04-4e08-9e36-6b5083c0373f">Sencha</Parent>
    <Path>/Products/GoodProper/Sencha/LooseLeafPackSENCHAStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:12:32</CreateDate>
    <NodeName Default="Loose Leaf Pack SENCHA Straight On Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h1cjksxe/loose-leaf_pack_sencha_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>