<?xml version="1.0" encoding="utf-8"?>
<Media Key="e170b6cd-53d9-4950-939e-304d31f73557" Alias="Loose Leaf Pack FOUR SEASONS Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="d029e523-b134-4e67-b67f-6242d9a84e12">Four Seasons</Parent>
    <Path>/Products/GoodProper/FourSeasons/LooseLeafPackFOURSEASONSStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:08:03</CreateDate>
    <NodeName Default="Loose Leaf Pack FOUR SEASONS Straight On Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zo1hbyoz/loose-leaf_pack_four_seasons_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>