<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8836a39-7701-4692-a345-c0e7e1c1ff1d" Alias="Loose+Leaf Pack EARL GRAY Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="6362f764-a2a8-4df7-8260-4d62bb4ba0a3">Earl Grey</Parent>
    <Path>/Products/GoodProper/EarlGrey/LooseplusLeafPackEARLGRAYStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:07:14</CreateDate>
    <NodeName Default="Loose+Leaf Pack EARL GRAY Straight On Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/h3vihsab/loose-leaf_pack_earl-gray_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>