<?xml version="1.0" encoding="utf-8"?>
<Media Key="27f8acb4-216f-4c60-8fed-b54a22217d0e" Alias="Loose Leaf Pack WHITE PEONY Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="456d9b24-3ecf-4900-a047-1dc7918ebf78">White Peony</Parent>
    <Path>/Products/GoodProper/WhitePeony/LooseLeafPackWHITEPEONYStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:13:54</CreateDate>
    <NodeName Default="Loose Leaf Pack WHITE PEONY Straight On Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wkwpqj1p/loose-leaf_pack_white_peony_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>