<?xml version="1.0" encoding="utf-8"?>
<Media Key="2be2010c-61b5-4daa-8ebd-60be8440d6c5" Alias="Loose Leaf Pack LEMONGRASS Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="0a6dd43f-0ceb-4a8b-99f9-9fc07dd6099c">Lemon Grass</Parent>
    <Path>/Products/GoodProper/LemonGrass/LooseLeafPackLEMONGRASSStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:09:47</CreateDate>
    <NodeName Default="Loose Leaf Pack LEMONGRASS Straight On Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/biapek3v/loose-leaf_pack_lemongrass_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>