<?xml version="1.0" encoding="utf-8"?>
<Media Key="77cc12b0-e838-48f5-a01d-08fe98dd7b21" Alias="Loose Leaf Pack MATCHA Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="d85f43fa-5356-4fe8-9803-2e381a55adcb">Matcha</Parent>
    <Path>/Products/GoodProper/Matcha/LooseLeafPackMATCHAStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:10:06</CreateDate>
    <NodeName Default="Loose Leaf Pack MATCHA Straight On Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wyjmy3zy/loose-leaf_pack_matcha_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>