<?xml version="1.0" encoding="utf-8"?>
<Media Key="a42945da-5e29-4360-9c79-badbe7b8bf0b" Alias="Loose Leaf Pack RUBY Straight On Web Ready" Level="4">
  <Info>
    <Parent Key="f1eed407-2435-4f49-8c6b-968bbad97bfb">Ruby</Parent>
    <Path>/Products/GoodProper/Ruby/LooseLeafPackRUBYStraightOnWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:11:36</CreateDate>
    <NodeName Default="Loose Leaf Pack RUBY Straight On Web Ready" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1rcdtjbj/loose-leaf_pack_ruby_straight-on_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>