<?xml version="1.0" encoding="utf-8"?>
<Media Key="b627c56e-e7a7-47dd-bdf6-1a9a767cbcd2" Alias="LR1101 SR JOES TEA Hires Selects Joes Tea 2109175190 F2 2" Level="4">
  <Info>
    <Parent Key="87b3f79c-fb67-4238-9855-2312a466dd92">Misc</Parent>
    <Path>/Products/JoesTeaCo/Misc/LR1101SRJOESTEAHiresSelectsJoesTea2109175190F22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:05:16</CreateDate>
    <NodeName Default="LR1101 SR JOES TEA Hires Selects Joes Tea 2109175190 F2 2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ndcdpnvh/lr1101_sr_joes_tea_hires_selects_joes_tea_2109175190_f2-2.jpg",
  "focalPoint": {
    "left": 0.5966666666666667,
    "top": 0.40186465198521143
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>