<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e4cee4e-fb3f-409e-844c-9a4ab0b95b3b" Alias="Matcha Set" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/MatchaSet</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:10:24</CreateDate>
    <NodeName Default="Matcha Set" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>