<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d81fabe-7b3c-4548-93d6-7e4f72534512" Alias="Matcha Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="d85f43fa-5356-4fe8-9803-2e381a55adcb">Matcha</Parent>
    <Path>/Products/GoodProper/Matcha/MatchaLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:10:05</CreateDate>
    <NodeName Default="Matcha Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xd3idhj2/matcha_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>