<?xml version="1.0" encoding="utf-8"?>
<Media Key="d85f43fa-5356-4fe8-9803-2e381a55adcb" Alias="Matcha" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/Matcha</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:09:59</CreateDate>
    <NodeName Default="Matcha" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties />
</Media>