<?xml version="1.0" encoding="utf-8"?>
<Media Key="22c42035-b48c-4008-8f6f-232e4be78764" Alias="Matcha Set Web Ready" Level="4">
  <Info>
    <Parent Key="3e4cee4e-fb3f-409e-844c-9a4ab0b95b3b">Matcha Set</Parent>
    <Path>/Products/GoodProper/MatchaSet/MatchaSetWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:10:29</CreateDate>
    <NodeName Default="Matcha Set Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gmqmiium/matcha-set-web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>