<?xml version="1.0" encoding="utf-8"?>
<Media Key="49e9c19e-ac37-46af-93c3-1b25fceb88f2" Alias="Mind" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Mind</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:27:29</CreateDate>
    <NodeName Default="Mind" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>