<?xml version="1.0" encoding="utf-8"?>
<Media Key="69699a61-be64-496b-868a-1e7ad80a5b04" Alias="Misc" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-28T11:03:44</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>