<?xml version="1.0" encoding="utf-8"?>
<Media Key="8cd18b02-a67e-4656-bebc-613be1d9014f" Alias="Misc" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-25T13:21:45</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>