<?xml version="1.0" encoding="utf-8"?>
<Media Key="d432bf49-0796-41d8-87dc-6b216597b168" Alias="Misc" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-28T11:02:24</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties />
</Media>