<?xml version="1.0" encoding="utf-8"?>
<Media Key="d97a5284-9901-4b2a-b1e2-628baa850551" Alias="Misc" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-28T10:58:38</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>