<?xml version="1.0" encoding="utf-8"?>
<Media Key="87b3f79c-fb67-4238-9855-2312a466dd92" Alias="Misc" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/Misc</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-28T11:05:11</CreateDate>
    <NodeName Default="Misc" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties />
</Media>