<?xml version="1.0" encoding="utf-8"?>
<Media Key="761582fa-1b8a-454e-b319-cf35c581975a" Alias="NEMITEAS TEABAGS P&amp;P WHITE EARLGREY SQUARE" Level="4">
  <Info>
    <Parent Key="5da09402-37ed-4a46-b89e-7d11ee32edfc">Earl Grey</Parent>
    <Path>/Products/Nemi/EarlGrey/NEMITEASTEABAGSPPWHITEEARLGREYSQUARE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:49</CreateDate>
    <NodeName Default="NEMITEAS TEABAGS P&amp;P WHITE EARLGREY SQUARE" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5sbbk3uk/nemiteas_teabags_p-p_white_earlgrey_square.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>