<?xml version="1.0" encoding="utf-8"?>
<Media Key="a05da4c7-628b-4caf-9a88-9232b06d8a09" Alias="NEMITEAS TEABAGONLY WHITE SPICYCHAI" Level="4">
  <Info>
    <Parent Key="ebb98599-0e59-466d-a9d6-005e9c66b70e">Spicy Chai</Parent>
    <Path>/Products/Nemi/SpicyChai/NEMITEASTEABAGONLYWHITESPICYCHAI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:33</CreateDate>
    <NodeName Default="NEMITEAS TEABAGONLY WHITE SPICYCHAI" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ygsf1iel/nemiteas_teabagonly_white_spicychai.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>