<?xml version="1.0" encoding="utf-8"?>
<Media Key="d2c27ccd-126a-46c6-95e1-f40e4bac5a2e" Alias="NEMITEAS TEABAGONLY WHITE EARLGREY" Level="4">
  <Info>
    <Parent Key="5da09402-37ed-4a46-b89e-7d11ee32edfc">Earl Grey</Parent>
    <Path>/Products/Nemi/EarlGrey/NEMITEASTEABAGONLYWHITEEARLGREY</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:54</CreateDate>
    <NodeName Default="NEMITEAS TEABAGONLY WHITE EARLGREY" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zn4mfutk/nemiteas_teabagonly_white_earlgrey.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>