<?xml version="1.0" encoding="utf-8"?>
<Media Key="5727cd1e-86a2-4677-8fc2-4763aa47cacd" Alias="NEMITEAS TEABAGONLY WHITE CARDAMOMCHAI" Level="4">
  <Info>
    <Parent Key="e0c08b34-c96c-4745-ab9d-fe54dd4c5026">Cardamom Chai</Parent>
    <Path>/Products/Nemi/CardamomChai/NEMITEASTEABAGONLYWHITECARDAMOMCHAI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:23:08</CreateDate>
    <NodeName Default="NEMITEAS TEABAGONLY WHITE CARDAMOMCHAI" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ddgdov3c/nemiteas_teabagonly_white_cardamomchai.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>