<?xml version="1.0" encoding="utf-8"?>
<Media Key="532fbc79-ce2a-4f4f-982e-8eba0363e05b" Alias="NEMITEAS TEABAGS P&amp;P WHITE ENGLISH SQUARE" Level="4">
  <Info>
    <Parent Key="340df5fd-21c7-49b1-a20c-39d942c8bb15">English Breakfast</Parent>
    <Path>/Products/Nemi/EnglishBreakfast/NEMITEASTEABAGSPPWHITEENGLISHSQUARE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:18</CreateDate>
    <NodeName Default="NEMITEAS TEABAGS P&amp;P WHITE ENGLISH SQUARE" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p44c4uzk/nemiteas_teabags_p-p_white_english_square.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>