<?xml version="1.0" encoding="utf-8"?>
<Media Key="dec865be-e036-4903-a9b0-e6b725e1d726" Alias="Nemi Lockup Large White CMYK" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/NemiLockupLargeWhiteCMYK</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:57</CreateDate>
    <NodeName Default="Nemi Lockup Large White CMYK" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xbsnrxrw/nemi-lockup-large-white-cmyk.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>