<?xml version="1.0" encoding="utf-8"?>
<Media Key="802af52a-08fe-47d5-8667-452e67ab15cd" Alias="NEMITEAS TEABAGONLY WHITE ENGLISH" Level="4">
  <Info>
    <Parent Key="340df5fd-21c7-49b1-a20c-39d942c8bb15">English Breakfast</Parent>
    <Path>/Products/Nemi/EnglishBreakfast/NEMITEASTEABAGONLYWHITEENGLISH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:24:22</CreateDate>
    <NodeName Default="NEMITEAS TEABAGONLY WHITE ENGLISH" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ft0dvah4/nemiteas_teabagonly_white_english.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>