<?xml version="1.0" encoding="utf-8"?>
<Media Key="c52d8f7d-63ad-4a70-adaf-d08e40288db4" Alias="NEMITEAS LOOSETEAONLY WHITE SPICYCHAI" Level="4">
  <Info>
    <Parent Key="ebb98599-0e59-466d-a9d6-005e9c66b70e">Spicy Chai</Parent>
    <Path>/Products/Nemi/SpicyChai/NEMITEASLOOSETEAONLYWHITESPICYCHAI</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:32</CreateDate>
    <NodeName Default="NEMITEAS LOOSETEAONLY WHITE SPICYCHAI" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pohd1rnn/nemiteas_looseteaonly_white_spicychai.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>