<?xml version="1.0" encoding="utf-8"?>
<Media Key="52dc805e-f6c7-45c0-9d6f-a46ae6344e2f" Alias="NICHE Tea8" Level="4">
  <Info>
    <Parent Key="42ca71d8-8929-4d9e-ae6c-7745bcb4f67d">Sleep</Parent>
    <Path>/Products/Niche/Sleep/NICHETea8</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:28:23</CreateDate>
    <NodeName Default="NICHE Tea8" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lcanyuwh/niche-tea8.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>