<?xml version="1.0" encoding="utf-8"?>
<Media Key="252796f7-ffae-4480-9ee1-e3d4450938d7" Alias="Niche" Level="2">
  <Info>
    <Parent Key="75312324-4678-45a8-941d-a61fe0cb06e7">Products</Parent>
    <Path>/Products/Niche</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:26:05</CreateDate>
    <NodeName Default="Niche" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>