<?xml version="1.0" encoding="utf-8"?>
<Media Key="338030eb-a462-472c-b35f-948139a6f515" Alias="People+With+Tubes" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/PeopleplusWithplusTubes</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:52</CreateDate>
    <NodeName Default="People+With+Tubes" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3uyiam1c/people-with-tubes.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>