<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc7044ec-9730-4f40-a88d-5f1c5967abd1" Alias="Peppermint Tea" Level="4">
  <Info>
    <Parent Key="984b27ac-fc07-4aff-b086-3f76bd2e80fa">Peppermint Tea</Parent>
    <Path>/Products/Nemi/PeppermintTea/PeppermintTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:07</CreateDate>
    <NodeName Default="Peppermint Tea" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3jchbxbq/peppermint_tea.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>