<?xml version="1.0" encoding="utf-8"?>
<Media Key="87e440ab-d40c-4d9c-8477-3f61669f4f75" Alias="Peppermint TEABAGS 05 Straight Web Ready" Level="4">
  <Info>
    <Parent Key="dd2a4197-2657-4d2d-8d76-670c65f19ebc">Peppermint</Parent>
    <Path>/Products/GoodProper/Peppermint/PeppermintTEABAGS05StraightWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:11:05</CreateDate>
    <NodeName Default="Peppermint TEABAGS 05 Straight Web Ready" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vvaojbym/peppermint_teabags_05_straight_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>