<?xml version="1.0" encoding="utf-8"?>
<Media Key="984b27ac-fc07-4aff-b086-3f76bd2e80fa" Alias="Peppermint Tea" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/PeppermintTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:25:01</CreateDate>
    <NodeName Default="Peppermint Tea" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>