<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4a9a403-5ba3-4000-9288-b9e75ac1c237" Alias="Peppermint TEABAGS 16 Higher Angle Web Ready" Level="4">
  <Info>
    <Parent Key="dd2a4197-2657-4d2d-8d76-670c65f19ebc">Peppermint</Parent>
    <Path>/Products/GoodProper/Peppermint/PeppermintTEABAGS16HigherAngleWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:11:03</CreateDate>
    <NodeName Default="Peppermint TEABAGS 16 Higher Angle Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/awskt3fd/peppermint_teabags_16_higher-angle_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>