<?xml version="1.0" encoding="utf-8"?>
<Media Key="ecb5497c-b5fa-4d3f-9604-e11c1a718a37" Alias="Pot+1" Level="4">
  <Info>
    <Parent Key="c5e77c75-c9d5-43af-8089-38fc723922d2">Stump Teapot</Parent>
    <Path>/Products/Accessories/StumpTeapot/Potplus1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:52:17</CreateDate>
    <NodeName Default="Pot+1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pjell1h0/pot-1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>