<?xml version="1.0" encoding="utf-8"?>
<Media Key="32c6840e-aeb9-4f43-afaf-9bc8c1cd68ad" Alias="Products+On+Side" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/ProductsplusOnplusSide</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:54</CreateDate>
    <NodeName Default="Products+On+Side" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bccmmmvz/products-on-side.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>