<?xml version="1.0" encoding="utf-8"?>
<Media Key="07d18ad4-60fc-4794-bfa7-5e836d54f2ee" Alias="PRODUCT STRAINER" Level="4">
  <Info>
    <Parent Key="ec2ff0c0-7595-4bed-85e7-aa58605bc491">In Cup Brewer</Parent>
    <Path>/Products/Accessories/InCupBrewer/PRODUCTSTRAINER</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:53:00</CreateDate>
    <NodeName Default="PRODUCT STRAINER" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0kfncb52/product-strainer.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>