<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8167d9f-994f-4ab3-a8c4-86097c7c9858" Alias="Products+On+Wall" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/ProductsplusOnplusWall</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:55</CreateDate>
    <NodeName Default="Products+On+Wall" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tf4bnocp/products-on-wall.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>