<?xml version="1.0" encoding="utf-8"?>
<Media Key="75312324-4678-45a8-941d-a61fe0cb06e7" Alias="Products" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Products</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:04:28</CreateDate>
    <NodeName Default="Products" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>