<?xml version="1.0" encoding="utf-8"?>
<Media Key="be321f6d-56dd-49e4-8c1a-f9000fe42214" Alias="Proper Peppermint" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/ProperPeppermint</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:20:39</CreateDate>
    <NodeName Default="Proper Peppermint" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>