<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d768882-edfd-4f1d-84ab-645864d9fd4f" Alias="Proper Peppermint Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="be321f6d-56dd-49e4-8c1a-f9000fe42214">Proper Peppermint</Parent>
    <Path>/Products/JoesTeaCo/ProperPeppermint/ProperPeppermintRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:20:47</CreateDate>
    <NodeName Default="Proper Peppermint Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qsehm5p3/proper-peppermint-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>