<?xml version="1.0" encoding="utf-8"?>
<Media Key="a70c7de6-c90f-467b-9aab-0ea6f202ff56" Alias="Proper Peppermint Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="be321f6d-56dd-49e4-8c1a-f9000fe42214">Proper Peppermint</Parent>
    <Path>/Products/JoesTeaCo/ProperPeppermint/ProperPeppermintFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:20:48</CreateDate>
    <NodeName Default="Proper Peppermint Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2b4bzjyp/proper-peppermint-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>