<?xml version="1.0" encoding="utf-8"?>
<Media Key="6dc6c615-fafa-496e-b368-436775d0ea64" Alias="PT+Teabags+2" Level="4">
  <Info>
    <Parent Key="984b27ac-fc07-4aff-b086-3f76bd2e80fa">Peppermint Tea</Parent>
    <Path>/Products/Nemi/PeppermintTea/PTplusTeabagsplus2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:08</CreateDate>
    <NodeName Default="PT+Teabags+2" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cpdmm1p0/pt-teabags-2.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>