<?xml version="1.0" encoding="utf-8"?>
<Media Key="47710341-f477-4ed1-82db-98afcb801cfb" Alias="PT+Teabags+1" Level="4">
  <Info>
    <Parent Key="984b27ac-fc07-4aff-b086-3f76bd2e80fa">Peppermint Tea</Parent>
    <Path>/Products/Nemi/PeppermintTea/PTplusTeabagsplus1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:25:08</CreateDate>
    <NodeName Default="PT+Teabags+1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i2bhcr1x/pt-teabags-1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>