<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e79408b-d1da-4e9a-9800-1ad781720334" Alias="Queen Of Green Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="722ba036-adb6-42e8-a29c-400e64697de7">Queen Of Green</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen/QueenOfGreenRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:23</CreateDate>
    <NodeName Default="Queen Of Green Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rvahsdw0/queen-of-green-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>