<?xml version="1.0" encoding="utf-8"?>
<Media Key="02df9c01-97ac-4ec0-8714-985ddf0d6654" Alias="Queen Of Green Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="722ba036-adb6-42e8-a29c-400e64697de7">Queen Of Green</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen/QueenOfGreenFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:21</CreateDate>
    <NodeName Default="Queen Of Green Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/a4on4avm/queen-of-green-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>