<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a5168a6-8e32-4f52-81ee-132449eb46a4" Alias="Queen Of Green Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="722ba036-adb6-42e8-a29c-400e64697de7">Queen Of Green</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen/QueenOfGreenPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:22</CreateDate>
    <NodeName Default="Queen Of Green Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ubufc4rs/queen-of-green-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>