<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab685fbc-4470-40bd-bbee-71c68298546b" Alias="Queen Of Green Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="722ba036-adb6-42e8-a29c-400e64697de7">Queen Of Green</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen/QueenOfGreenRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:20</CreateDate>
    <NodeName Default="Queen Of Green Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xjphrk1q/queen-of-green-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>