<?xml version="1.0" encoding="utf-8"?>
<Media Key="31e1629d-d1ff-4c9b-b863-5e418c87f91b" Alias="Queen Of Green" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/QueenOfGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:44</CreateDate>
    <NodeName Default="Queen Of Green" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tnrocmp5/queen-of-green.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>