<?xml version="1.0" encoding="utf-8"?>
<Media Key="722ba036-adb6-42e8-a29c-400e64697de7" Alias="Queen Of Green" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:21:13</CreateDate>
    <NodeName Default="Queen Of Green" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties />
</Media>