<?xml version="1.0" encoding="utf-8"?>
<Media Key="dda5d9a1-3797-4617-81f1-d5dcc74626f1" Alias="Queen Of Green Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="722ba036-adb6-42e8-a29c-400e64697de7">Queen Of Green</Parent>
    <Path>/Products/JoesTeaCo/QueenOfGreen/QueenOfGreenJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:21</CreateDate>
    <NodeName Default="Queen Of Green Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u5mllxmx/queen-of-green-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>