<?xml version="1.0" encoding="utf-8"?>
<Media Key="73b9d04a-4776-454d-9f30-363173208708" Alias="Rest Repeat Rooibos Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="f9be43d8-8114-42b7-9f10-8a2e485a7c85">Rest Repeat Rooibos</Parent>
    <Path>/Products/JoesTeaCo/RestRepeatRooibos/RestRepeatRooibosRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:51</CreateDate>
    <NodeName Default="Rest Repeat Rooibos Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jtils21w/rest-repeat-rooibos-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>