<?xml version="1.0" encoding="utf-8"?>
<Media Key="fd140f60-ebf6-41ba-97f9-3b5f6ca32033" Alias="Rest Repeat Rooibos Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="f9be43d8-8114-42b7-9f10-8a2e485a7c85">Rest Repeat Rooibos</Parent>
    <Path>/Products/JoesTeaCo/RestRepeatRooibos/RestRepeatRooibosFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:52</CreateDate>
    <NodeName Default="Rest Repeat Rooibos Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/myhbj5pw/rest-repeat-rooibos-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>