<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f99eb03-00d7-41cb-ad09-f1b42198c14b" Alias="Rest Repeat Rooibos Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="f9be43d8-8114-42b7-9f10-8a2e485a7c85">Rest Repeat Rooibos</Parent>
    <Path>/Products/JoesTeaCo/RestRepeatRooibos/RestRepeatRooibosJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:21:53</CreateDate>
    <NodeName Default="Rest Repeat Rooibos Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/axvjst4x/rest-repeat-rooibos-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>