<?xml version="1.0" encoding="utf-8"?>
<Media Key="7debf319-44d2-4d7c-9423-bc1125cbc834" Alias="Ruby Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="f1eed407-2435-4f49-8c6b-968bbad97bfb">Ruby</Parent>
    <Path>/Products/GoodProper/Ruby/RubyLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:11:35</CreateDate>
    <NodeName Default="Ruby Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d5zpw5os/ruby_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>