<?xml version="1.0" encoding="utf-8"?>
<Media Key="3d6933c1-98f8-46f6-8367-1b2980b368d9" Alias="Rwanda Op" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/RwandaOp</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:12:05</CreateDate>
    <NodeName Default="Rwanda Op" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties />
</Media>