<?xml version="1.0" encoding="utf-8"?>
<Media Key="f0cbf52e-a9c7-4672-bdb0-3ac63dc1f7e4" Alias="Rwanda Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="3d6933c1-98f8-46f6-8367-1b2980b368d9">Rwanda Op</Parent>
    <Path>/Products/GoodProper/RwandaOp/RwandaLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:12:11</CreateDate>
    <NodeName Default="Rwanda Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fd0nx2gh/rwanda_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>