<?xml version="1.0" encoding="utf-8"?>
<Media Key="c07c3d1a-29d8-48bb-8d5a-4318fb3b1127" Alias="Seashell In Love Kristin Xpulgz P9zm Unsplash" Level="4">
  <Info>
    <Parent Key="d7049b10-6694-40da-a254-70b47f696c0f">Gift Card</Parent>
    <Path>/Products/Accessories/GiftCard/SeashellInLoveKristinXpulgzP9zmUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2020-05-28T14:50:35</CreateDate>
    <NodeName Default="Seashell In Love Kristin Xpulgz P9zm Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dq4hzqgy/seashell-in-love-kristin-xpulgz-p9zm-unsplash.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>