<?xml version="1.0" encoding="utf-8"?>
<Media Key="c74582f9-3d15-4378-a3ac-38b7d56f18c0" Alias="Sencha Leaf+&amp;+Liquor Web+Ready" Level="4">
  <Info>
    <Parent Key="f739073e-de04-4e08-9e36-6b5083c0373f">Sencha</Parent>
    <Path>/Products/GoodProper/Sencha/SenchaLeafplusplusLiquorWebplusReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:12:32</CreateDate>
    <NodeName Default="Sencha Leaf+&amp;+Liquor Web+Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/54belryv/sencha_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>