<?xml version="1.0" encoding="utf-8"?>
<Media Key="f739073e-de04-4e08-9e36-6b5083c0373f" Alias="Sencha" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/Sencha</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:12:25</CreateDate>
    <NodeName Default="Sencha" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties />
</Media>