<?xml version="1.0" encoding="utf-8"?>
<Media Key="12ebac92-1c62-4a2c-9608-af282e8a6727" Alias="Silver Needle Leaf &amp; Liquor Web Ready" Level="4">
  <Info>
    <Parent Key="a4a44bd8-c3c1-4ad0-ab56-91826d6d22dd">Silver Needle</Parent>
    <Path>/Products/GoodProper/SilverNeedle/SilverNeedleLeafLiquorWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:13:06</CreateDate>
    <NodeName Default="Silver Needle Leaf &amp; Liquor Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sswowetc/silver-needle_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>