<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4a44bd8-c3c1-4ad0-ab56-91826d6d22dd" Alias="Silver Needle" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/SilverNeedle</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:13:00</CreateDate>
    <NodeName Default="Silver Needle" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties />
</Media>