<?xml version="1.0" encoding="utf-8"?>
<Media Key="42ca71d8-8929-4d9e-ae6c-7745bcb4f67d" Alias="Sleep" Level="3">
  <Info>
    <Parent Key="252796f7-ffae-4480-9ee1-e3d4450938d7">Niche</Parent>
    <Path>/Products/Niche/Sleep</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:28:17</CreateDate>
    <NodeName Default="Sleep" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>