<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebb98599-0e59-466d-a9d6-005e9c66b70e" Alias="Spicy Chai" Level="3">
  <Info>
    <Parent Key="433951ab-35da-48df-9494-e29a2c49dcc1">Nemi</Parent>
    <Path>/Products/Nemi/SpicyChai</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:25:22</CreateDate>
    <NodeName Default="Spicy Chai" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>