<?xml version="1.0" encoding="utf-8"?>
<Media Key="bcfc09ff-a57f-405a-a172-cdff535fd497" Alias="St Clements Lemon" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/StClementsLemon</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:20:07</CreateDate>
    <NodeName Default="St Clements Lemon" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>