<?xml version="1.0" encoding="utf-8"?>
<Media Key="2836c426-6a4d-41a6-9512-1ede5fe41238" Alias="St. Clements Lemon Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="bcfc09ff-a57f-405a-a172-cdff535fd497">St Clements Lemon</Parent>
    <Path>/Products/JoesTeaCo/StClementsLemon/StClementsLemonFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:20:17</CreateDate>
    <NodeName Default="St. Clements Lemon Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/edcdmkcn/st-clements-lemon-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>