<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6da9613-f2a8-480f-b618-5a53911cbb7a" Alias="St. Clements Lemon Jar And 100Ct Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="bcfc09ff-a57f-405a-a172-cdff535fd497">St Clements Lemon</Parent>
    <Path>/Products/JoesTeaCo/StClementsLemon/StClementsLemonJarAnd100CtJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:20:18</CreateDate>
    <NodeName Default="St. Clements Lemon Jar And 100Ct Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cwlnvrvi/st-clements-lemon-jar-and-100ct-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>