<?xml version="1.0" encoding="utf-8"?>
<Media Key="361a1dbb-08e6-4109-8804-63be962b606b" Alias="St. Clements Lemon Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="bcfc09ff-a57f-405a-a172-cdff535fd497">St Clements Lemon</Parent>
    <Path>/Products/JoesTeaCo/StClementsLemon/StClementsLemonPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:20:19</CreateDate>
    <NodeName Default="St. Clements Lemon Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xuobunxg/st-clements-lemon-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>