<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5e77c75-c9d5-43af-8089-38fc723922d2" Alias="Stump Teapot" Level="3">
  <Info>
    <Parent Key="91e465d7-5e0d-441c-a064-d58eb66a3bd2">Accessories</Parent>
    <Path>/Products/Accessories/StumpTeapot</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:52:05</CreateDate>
    <NodeName Default="Stump Teapot" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>