<?xml version="1.0" encoding="utf-8"?>
<Media Key="8c002d1a-6d97-4f2a-a9e8-e3ad5d1830a0" Alias="Sweetchamomile" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/Sweetchamomile</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:45</CreateDate>
    <NodeName Default="Sweetchamomile" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dqwbbdex/sweetchamomile.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>