<?xml version="1.0" encoding="utf-8"?>
<Media Key="53ea403c-e719-4be8-bb79-7a4f7959106a" Alias="Sweet Chamomile Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="b9f4a707-92f4-40a4-aa80-19dcf49da7ab">Sweet Chamomile</Parent>
    <Path>/Products/JoesTeaCo/SweetChamomile/SweetChamomileRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:17:21</CreateDate>
    <NodeName Default="Sweet Chamomile Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hjaouuyz/sweet-chamomile-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>