<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9f4a707-92f4-40a4-aa80-19dcf49da7ab" Alias="Sweet Chamomile" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/SweetChamomile</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:16:57</CreateDate>
    <NodeName Default="Sweet Chamomile" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>