<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9b542ca-c876-4b8d-95d6-9880c7c131a0" Alias="Tea Bag Collection" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/TeaBagCollection</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:13:21</CreateDate>
    <NodeName Default="Tea Bag Collection" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties />
</Media>