<?xml version="1.0" encoding="utf-8"?>
<Media Key="b4b9d011-4e09-43ea-af57-fa15540a204d" Alias="TEA BAGS Brockley Breakfast Web Ready" Level="4">
  <Info>
    <Parent Key="fa0af32e-934a-47ad-a757-5fadf38e3ba5">Brockley Breakfast</Parent>
    <Path>/Products/GoodProper/BrockleyBreakfast/TEABAGSBrockleyBreakfastWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:06:13</CreateDate>
    <NodeName Default="TEA BAGS Brockley Breakfast Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/c5iltnaj/tea_bags_brockley-breakfast_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>