<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e74c127-8f6a-4014-903f-c522fcd1609b" Alias="Tea Pot 1" Level="4">
  <Info>
    <Parent Key="c5e77c75-c9d5-43af-8089-38fc723922d2">Stump Teapot</Parent>
    <Path>/Products/Accessories/StumpTeapot/TeaPot1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:52:16</CreateDate>
    <NodeName Default="Tea Pot 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ehahjdtk/tea_pot_1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>