<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcee3610-7652-4324-b04c-402f7711d4ca" Alias="TEA BAGS Peppermint Web Reay" Level="4">
  <Info>
    <Parent Key="dd2a4197-2657-4d2d-8d76-670c65f19ebc">Peppermint</Parent>
    <Path>/Products/GoodProper/Peppermint/TEABAGSPeppermintWebReay</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:11:04</CreateDate>
    <NodeName Default="TEA BAGS Peppermint Web Reay" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cy1o3xcs/tea_bags_peppermint_-web-reay.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>