<?xml version="1.0" encoding="utf-8"?>
<Media Key="b995966b-6302-4c0e-9a83-6fc506740e8a" Alias="Teapot,+Brewing" Level="4">
  <Info>
    <Parent Key="69699a61-be64-496b-868a-1e7ad80a5b04">Misc</Parent>
    <Path>/Products/Nemi/Misc/TeapotPlusBrewing</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:03:56</CreateDate>
    <NodeName Default="Teapot,+Brewing" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nwljloic/teapot-brewing.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>