<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c" Alias="Teas" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Teas</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-28T11:16:24</CreateDate>
    <NodeName Default="Teas" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>