<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdffa41c-daf1-4e9c-8348-3d32348f6681" Alias="Test 3" Level="4">
  <Info>
    <Parent Key="9eb1c618-2437-4f32-b7fe-7c70c00819f0">Breakfast Tea Set</Parent>
    <Path>/Products/GoodProper/BreakfastTeaSet/Test3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:05:27</CreateDate>
    <NodeName Default="Test 3" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dksp5tpr/test-3.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>