<?xml version="1.0" encoding="utf-8"?>
<Media Key="47be1851-8852-4764-9116-d15ce25ba975" Alias="The Earl Of Grey Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="c5b67ded-d645-4791-9979-af7e432d2897">The Earl Of Grey</Parent>
    <Path>/Products/JoesTeaCo/TheEarlOfGrey/TheEarlOfGreyRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:18:21</CreateDate>
    <NodeName Default="The Earl Of Grey Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k2ml2r0s/the-earl-of-grey-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>