<?xml version="1.0" encoding="utf-8"?>
<Media Key="69e97bf5-2809-4537-887b-28758a6393b5" Alias="The Berry Best Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="dbdc90bf-6ee2-4c50-80be-7e8fa12f5c85">The Berry Best</Parent>
    <Path>/Products/JoesTeaCo/TheBerryBest/TheBerryBestFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:15:57</CreateDate>
    <NodeName Default="The Berry Best Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4n3ps0ij/the-berry-best-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "focalPoint": {
    "left": 0.5033333333333333,
    "top": 0.665
  },
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>