<?xml version="1.0" encoding="utf-8"?>
<Media Key="49ba02dd-8367-40de-b995-8de05c37d3ad" Alias="The Berry Best Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="dbdc90bf-6ee2-4c50-80be-7e8fa12f5c85">The Berry Best</Parent>
    <Path>/Products/JoesTeaCo/TheBerryBest/TheBerryBestPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:15:58</CreateDate>
    <NodeName Default="The Berry Best Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1mbluslh/the-berry-best-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>