<?xml version="1.0" encoding="utf-8"?>
<Media Key="06722e0f-0289-4dac-b437-d12d3d3dd28f" Alias="The Berry Best Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="dbdc90bf-6ee2-4c50-80be-7e8fa12f5c85">The Berry Best</Parent>
    <Path>/Products/JoesTeaCo/TheBerryBest/TheBerryBestRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:15:59</CreateDate>
    <NodeName Default="The Berry Best Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bexhebuj/the-berry-best-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>