<?xml version="1.0" encoding="utf-8"?>
<Media Key="be41cc2c-4a43-41ee-a0b7-5165f9e8e481" Alias="The Earl Of Grey Full Jar Joes Tea Co. Web Ready 1X11" Level="4">
  <Info>
    <Parent Key="c5b67ded-d645-4791-9979-af7e432d2897">The Earl Of Grey</Parent>
    <Path>/Products/JoesTeaCo/TheEarlOfGrey/TheEarlOfGreyFullJarJoesTeaCoWebReady1X11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:18:22</CreateDate>
    <NodeName Default="The Earl Of Grey Full Jar Joes Tea Co. Web Ready 1X11" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/flgedpsd/the-earl-of-grey-full-jar-joes-tea-co-web-ready-1x11.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>