<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5b67ded-d645-4791-9979-af7e432d2897" Alias="The Earl Of Grey" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/TheEarlOfGrey</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:18:10</CreateDate>
    <NodeName Default="The Earl Of Grey" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>