<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbdc90bf-6ee2-4c50-80be-7e8fa12f5c85" Alias="The Berry Best" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/TheBerryBest</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:15:29</CreateDate>
    <NodeName Default="The Berry Best" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>