<?xml version="1.0" encoding="utf-8"?>
<Media Key="97769821-185f-4d4e-bb11-55d7b8738d01" Alias="Theberrybest" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/Theberrybest</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:46</CreateDate>
    <NodeName Default="Theberrybest" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/e4mhnf05/theberrybest.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>