<?xml version="1.0" encoding="utf-8"?>
<Media Key="251ec483-c1a3-4c31-a371-abbc5717451f" Alias="Whiter Than White Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="d6cc4f49-e197-48bc-b2ce-9094b55eca70">Whiter Than White</Parent>
    <Path>/Products/JoesTeaCo/WhiterThanWhite/WhiterThanWhiteRetailFrontOfPackWithPyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:22:19</CreateDate>
    <NodeName Default="Whiter Than White Retail Front Of Pack With Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qxcb2jnd/whiter-than-white-retail-front-of-pack-with-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>