<?xml version="1.0" encoding="utf-8"?>
<Media Key="eabbd7b0-fed5-4cb8-a24b-c0feaac7c4e9" Alias="Whiter Than White Full Jar Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="d6cc4f49-e197-48bc-b2ce-9094b55eca70">Whiter Than White</Parent>
    <Path>/Products/JoesTeaCo/WhiterThanWhite/WhiterThanWhiteFullJarJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:22:17</CreateDate>
    <NodeName Default="Whiter Than White Full Jar Joes Tea Co. Web Ready 1X1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1llx0wv/whiter-than-white-full-jar-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>