<?xml version="1.0" encoding="utf-8"?>
<Media Key="ab8135f4-de9e-4e85-a9c6-f46bbbc9ad4e" Alias="Whiter Than White Retail Side Of Pack Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="d6cc4f49-e197-48bc-b2ce-9094b55eca70">Whiter Than White</Parent>
    <Path>/Products/JoesTeaCo/WhiterThanWhite/WhiterThanWhiteRetailSideOfPackJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:22:16</CreateDate>
    <NodeName Default="Whiter Than White Retail Side Of Pack Joes Tea Co. Web Ready 1X1" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4i0jdk24/whiter-than-white-retail-side-of-pack-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>