<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e1ea6fc-0e98-433b-8545-708e81cfb449" Alias="White Tea" Level="2">
  <Info>
    <Parent Key="0ccba016-7ebf-4cc3-aaa2-0e2a521ac71c">Teas</Parent>
    <Path>/Teas/WhiteTea</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-28T11:16:46</CreateDate>
    <NodeName Default="White Tea" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5ktb2huy/white_tea.png",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>