<?xml version="1.0" encoding="utf-8"?>
<Media Key="d6cc4f49-e197-48bc-b2ce-9094b55eca70" Alias="Whiter Than White" Level="3">
  <Info>
    <Parent Key="e1ccde10-e5b6-43e1-a299-d1ddc7f27edb">Joe's Tea &amp; Co</Parent>
    <Path>/Products/JoesTeaCo/WhiterThanWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:22:11</CreateDate>
    <NodeName Default="Whiter Than White" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties />
</Media>