<?xml version="1.0" encoding="utf-8"?>
<Media Key="0169c1a7-bc4d-4560-81ec-a57d7701a2eb" Alias="Whiter Than White Pyramid Bag Joes Tea Co. Web Ready 1X1" Level="4">
  <Info>
    <Parent Key="d6cc4f49-e197-48bc-b2ce-9094b55eca70">Whiter Than White</Parent>
    <Path>/Products/JoesTeaCo/WhiterThanWhite/WhiterThanWhitePyramidBagJoesTeaCoWebReady1X1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:22:19</CreateDate>
    <NodeName Default="Whiter Than White Pyramid Bag Joes Tea Co. Web Ready 1X1" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uhahsakn/whiter-than-white-pyramid-bag-joes-tea-co-web-ready-1x1.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>