<?xml version="1.0" encoding="utf-8"?>
<Media Key="4b227c0b-7c67-4d37-b038-7b97dbe93102" Alias="Wild Rooibos GTA 2019 Web" Level="4">
  <Info>
    <Parent Key="5e64e0a7-924e-4774-839b-22922e89e79a">Wild Rooibos</Parent>
    <Path>/Products/GoodProper/WildRooibos/WildRooibosGTA2019Web</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:14:35</CreateDate>
    <NodeName Default="Wild Rooibos GTA 2019 Web" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bv4ces1h/wild-rooibos-gta-2019-web.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>