<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e64e0a7-924e-4774-839b-22922e89e79a" Alias="Wild Rooibos" Level="3">
  <Info>
    <Parent Key="3fa6ceb0-133a-4c5b-b7f2-41da5aeeb68f">Good &amp; Proper</Parent>
    <Path>/Products/GoodProper/WildRooibos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2019-11-07T13:14:24</CreateDate>
    <NodeName Default="Wild Rooibos" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties />
</Media>