<?xml version="1.0" encoding="utf-8"?>
<Media Key="abbc4a93-d960-4fe0-a42e-205464623440" Alias="Wild Rooibos Leaf &amp; Liquor Web Ready" Level="4">
  <Info>
    <Parent Key="5e64e0a7-924e-4774-839b-22922e89e79a">Wild Rooibos</Parent>
    <Path>/Products/GoodProper/WildRooibos/WildRooibosLeafLiquorWebReady</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2019-11-07T13:14:34</CreateDate>
    <NodeName Default="Wild Rooibos Leaf &amp; Liquor Web Ready" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/svflzk1a/wild-rooibos_leaf-liquor_web-ready.jpg",
  "crops": null
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>