<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>

    <rules>
		<rule name="Angular Routes en-US" stopProcessing="true">

        <match url="en-US/.*" />

        <conditions logicalGrouping="MatchAll">
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>

        <action type="Rewrite" url="/en-US/index.html" />
      </rule>
      <rule name="Angular Routes de-DE" stopProcessing="true">

        <match url="de-DE/.*" />

        <conditions logicalGrouping="MatchAll">
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>

        <action type="Rewrite" url="/de-DE/index.html" />
      </rule>
      </rules>

  </rewrite>
    </system.webServer>
</configuration>
