<footer class="footer d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
    <div class="col-12 col-md mb-0 text-center text-md-left">
        <p class="mb-0">© Zürcher Kantonalbank 1995 - 2023</p>
    </div>
    <div class="col-12 col-md-auto">
        <ul class="nav justify-content-center justify-content-md-end">
            <li class="nav-item">
                <a href="/finanzkonferenz" class="nav-link px-2">Finanzkonferenz</a>
            </li>
            <li class="nav-item">
                <a href="/kontakt" class="nav-link px-2">Kontakt</a>
            </li>
        </ul>
    </div>
</footer>